[2018-04-20 22:13] protoEvangelion commented on #534
@wigust Do you see this as applying only when opening an issue?

Or could you see this being used in other use cases like commenting on an issue or PR?

[2018-04-20 22:15] pragmaticivan commented on #535
So imagine that it's a commit:

[code]

If you follow Git commit standard for messages, The first line of commit can be the title of the PR = ` My title is here`

And the rest of the body can be the description of the PR:

[code]

[2018-04-20 22:16] pragmaticivan commented on #535
Here's an example of a Commit that can become a PR:

[code]

[2018-04-20 22:17] pragmaticivan commented on #535
`[123] fixing node gh weird issue` becomes the title of the PR, and the rest becomes the description of the PR.

[2018-04-23 10:59] wigust commented on #534
@protoEvangelion, I'm not sure about other use cases, because e.g. commenting on an issue requires to type a specific flag.  But to be more identical in commands  for online activity a necessity of `-y` flag to send without asking is a good idea.

I'm sure it would be nice in case of `gh pull-request MESSAGE` and `gh issue MESSAGE`.

[2018-04-24 09:27] pkra commented on #439
FYI I had the same problem while trying to create PRs for a private repo of an organization. Specifying `--submit ORGNAME` solved this for me (I got this idea from https://github.com/node-gh/gh/issues/212#issuecomment-344075822).

[2018-05-04 00:49] protoEvangelion commented on #439
It seems most likely that this issue can be resolved by the comment from @maoo

Also, thanks @pkra for linking that!

If the above doesn't solve your problem, please make sure you have `origin` as one of your remotes because we use that as the default basis for sending PRs from.

Then you can try sending PRs either to the private repo itself or a fork of the repo like this:

[code]

I send PRs nea

[2018-05-04 00:49] #439 closed

[2018-05-04 00:52] protoEvangelion commented on #535
Thanks for the clear examples!

This definitely seems like a good standard to follow. I will try to get this prioritized once we have more bandwidth to implement new features.

Thanks for the great suggestion :smile:

[2018-05-04 00:58] protoEvangelion commented on #534
Hmm... I definitely like the pattern of using `-y` for non interactive mode, but I would be hesitant to change the UX to require user feedback for each main action like sending PRs or creating new issues.

The main reason for that is because a lot of people use `gh ...` in aliases or scripts and this type of functionality would break their scripts if they don't include `-y`.

Any ideas on how to o

[2018-05-05 13:44] ahmadawais opened #536 "warning: Can't read plugins directory."
The cli is working fine but I keep getting this warning at the top and end of the process.

[code]

![image](https://on.ahmda.ws/rNgt/c)

[2018-05-05 14:20] ahmadawais opened #537 "Create Repo + Clone it!"
How can I create and clone a repo in one step? I have added `--clone` to the ~.gh.json file on rep.new but I get this warning.

[code]

It works but this warning looks very bad.

[2018-05-05 17:25] wigust commented on #534
I think we could have a release with a warning to give people some time for a switch to new syntax.  E.g.: “`gh pull-request MESSAGE`, `gh issue MESSAGE`, `gh …` commands syntax will change in a feature release, requiring you to specify `-y` flag to send non-interactively”

[2018-06-12 11:47] m-roberts opened #539 "Support pagination with Github API for the Repo command"
This is a more generic issue relating to #438.

Currently, gh uses `per_page: 1000` in a few places, but the API only supports 100 responses per page.

GitHub expects you to use the metadata supplied by the API to get all the pages using consecutive calls.

`gh` should handle multiple API requests, as needed, so that the `--all` flag actually makes sense.

[2018-06-12 12:00] m-roberts commented on #539
This can be done by making use of the `hasNextPage` function in [the Github node module used by gh](https://github.com/mikedeboer/node-github).

[2018-06-14 15:37] zevaverbach opened #540 "optionally display label on issues"
perhaps with `--label`?

[2018-06-21 18:40] mikedfunk opened #541 "feature request - filter pull requests by reviewer"
I used to do
[code]
And I would get a list of all pull requests in my organization assigned to me. But now github has split `reviewers` from `assignees`, and my team uses the first one on the list which is `reviewers`. gh does not have an arg to filter by reviewer currently.

Can this be added? e.g.
[code]

[2018-06-28 20:33] protoEvangelion opened #543 "Create TypeScript MVP for Issues Functionality to Determine Viability"
After studying TypeScript & using it on a personal project, Node GH seems like a great candidate to refactor.

Some of the benefits I think could be realized in this code base are:

1. Code that is easier to reason about
2. Type safety at compile time
3. Ability to use modern JS

For the initial refactor, I would not want to go overboard with type checking but rather:
- Port over all of the files

[2018-07-02 20:15] bpatram opened #544 "Difficult consuming output"
Hi, I'm running version `1.12.12` and am trying to grab a PR title and author based on a given PR number (via `gh pull-request --info ####`). This all works great, however pulling out just the information I need is a bit of a hassle. Since the output is colored there are hidden control characters which makes using regex not so straightforward. Ideally, I would love a way for me to control the outp

[2018-07-04 03:15] #539 closed

[2018-07-11 20:17] protoEvangelion commented on #544
@bpatram Thanks for putting in all the time for thinking this through.

I will take a look at your PR more closely & ideally get it merged & released around Monday.

[2018-07-11 23:14] bpatram commented on #544
@protoEvangelion thanks! To note, my PR is affectively only 50% of what I detailed above which just simply strips away color from the output. It does **not** add the `--format` flag as I discussed. I cannot promise I'll find the time to knock that out before Monday however, but I will try :)

[2018-07-11 23:44] protoEvangelion commented on #544
@bpatram We can just merge the `--no-color` flag related work and merge `--format` related code at a separate time if you would prefer.

[2018-07-14 19:55] protoEvangelion commented on #543
See foundational alpha changes here: https://github.com/node-gh/gh/compare/191bef0...3daddd0

[2018-07-14 19:55] #543 closed

[2018-07-14 20:30] protoEvangelion commented on #541
@mikedfunk That seems like a helpful way to filter PRs.
I am in the process of completely rewriting gh to use **TypeScript** and Github's new **GraphQL** api.
Adding the ability to filter by reviewer would probably quite trivial at that point (_but I am estimating that the release won't be for at least several months_).
If you would be willing to send a PR though against our master branch, I would

[2018-07-14 21:21] protoEvangelion commented on #541
On second thought, this doesn't seem to be as trivial as I imagined.

If you take a look at https://developer.github.com/v4/explorer/ and search for "pullrequests" in the docs and click on the "pullRequests" part of "Repository.pullRequests".

You will notice that we cannot filter on Github's api by the **reviewer**. So although it is possible, we would have to perform the filtering on our end.

[2018-07-14 21:35] protoEvangelion commented on #540
Hmm we actually have a flag for that already but it doesn't seem to be working.

Currently I am working on completely refactoring the code base to use GitHub's GraphQL api. I will make sure this works when we release v2.

At my current pace, I am estimating v2 will be release in April 2019. If that is too long for you to wait, I would be happy to merge a PR from you if you can find a fix for this.

[2018-07-14 23:14] protoEvangelion commented on #537
Hey @ahmadawais thanks for your patience on this.

I am having trouble reproducing your error.

Could you try running the same command with `--verbose`?

[2018-07-14 23:31] protoEvangelion opened #547 "Set up multi-tiered command organization structure for v2 release"
The goal here is to create a clearer & more modularized separation of commands rather than having one large file like `pull-request.js`.

_Ideal Folder Structure_:
[code]

`gh` should have 3 levels of sub commands.

_Multi-level commands_
1st tier: `gh issue`
2nd tier: `gh issue --list`
3rd tier: `gh issue --list --all`

[2018-07-17 19:33] protoEvangelion commented on #547
https://github.com/node-gh/gh/compare/2528dbf...1170284

[2018-07-17 19:33] #547 closed

[2018-07-20 14:00] zevaverbach commented on #540
@protoEvangelion trying to get started on this, and did the steps outlined in [Contributing](https://github.com/node-gh/gh/blob/master/CONTRIBUTING.md), including `npm rm -g gh` and `npm link` of my fork.  However, I can't get any `console.log` or `process.stdout.write` calls to produce stdout output when invoking `gh`.  Pardon my newbness, but do you have any suggestions?

[2018-07-20 16:07] protoEvangelion commented on #540
@zevaverbach no problem at all! I am happy to help 😄  Try this:
[code]

Let me know if that works. If not please let me know which file you are trying to log from.

[2018-07-20 16:11] protoEvangelion commented on #544
@bpatram If you would still like to add the `format` flag please open up a new issue as that is a separate feature.

Again thanks for all the work you did for setting up the `--no-color` flag.

I think that is going to make peoples' lives a lot easier when trying to parse output!

[2018-07-20 16:11] #544 closed

[2018-07-20 18:12] zevaverbach opened #548 "display labels by default, not only in "detailed" mode"
I suggest that labels are useful to see most of the time, and if #549 is also implemented, they won't take up too much room.

[2018-07-20 18:13] zevaverbach opened #549 "display labels on the same line as the issue's title"
In a similar manner to [`ghi`](https://github.com/stephencelis/ghi).  Nice and color-coded, doesn't take up a ton of room.  If this is implemented, it'd enable #548 without making things too busy.

[2018-07-20 18:21] zevaverbach commented on #540
@protoEvangelion awesome, thanks!  See #550.

[2018-07-22 01:22] protoEvangelion opened #551 "Develop Tests for v2 Issue List Cmd"
Use oclif tests to build out an mvp for `issue --list` cmd.

https://oclif.io/docs/testing.html

[2018-07-26 00:20] protoEvangelion commented on #540
On second thought I think I misread your intent.
Is your goal to run something like: `gh issue --list --label` and it print out the labels for you?

[2018-07-26 00:34] protoEvangelion commented on #548
Since users often parse the output of the gh cmds, this would be a breaking change.
What do you think of offering that option in the `~/.gh.json` file.
Something like:
[code]

[2018-07-26 02:42] dantewang opened #552 "Sending pull request using gh pr -s username fail due to 404"
gh version: 1.12.13

Error message:

[code]

`npm install -g gh` shows the following warning:

[code]

[2018-07-26 02:58] dantewang commented on #552
Other gh features that I often use still work, like listing open pull requests and fetching pull request.

[2018-07-26 03:55] dantewang commented on #552
It's working again. Close.

[2018-07-26 03:55] #552 closed

[2018-07-26 13:10] zevaverbach commented on #548
@protoEvangelion I like it.  Want me to do a PR with that?

[2018-07-26 15:29] protoEvangelion commented on #548
That would be great! You can add that onto your currently open PR if you would prefer.

[2018-07-26 15:35] protoEvangelion commented on #540
Thanks for the clarification. I think it would be ideal to only show labels in `--detailed` or if the user has specified that they would like labels to show up by default as discussed here: #548

[2018-07-26 15:36] #540 closed

[2018-07-26 15:37] protoEvangelion commented on #548
Actually since the labels not showing on the `detailed` flag is a separate issue, I went ahead and merged that. So if you could send a new PR that would be great!

[2018-07-26 15:39] protoEvangelion commented on #549
This is a good idea. I like the way you formatted labels on the `--detailed` flag, so maybe you can do something like that for this & #548.

[2018-07-26 21:59] protoEvangelion commented on #552
@dantewang Thanks for the update 👍

[2018-07-28 16:20] #551 closed

[2018-07-30 20:21] protoEvangelion opened #553 "Complete Issue Cmd for v2"
Main flags that need to be added for v2:
1. Create
2. Comment
3. Open or Close
4. Open in Browser
5. Search
6. Assign

Add tests for each as well.

[2018-07-30 21:41] protoEvangelion opened #554 "Audit which mutations are not supported in GitHub's GraphQL API"
So far I noticed that creating an issue does not exist for GitHub's graphQL api.

https://platform.github.community/t/schema-request-create-issues-labels-milestones-etc/5355/7

[2018-08-01 02:43] protoEvangelion commented on #554
Unfortunately, the GraphQL API doesn't support nearly any of the mutations we need to perform and some queries as well.

Here is the list of commands that we will need to use [Octokit](https://octokit.github.io/rest.js) for:

**PR**
Create PR
Open/Close PR

**Notifications**
I think watchin is deprecated
List activity

**Issue**
Create issue
open/close issue
search
assign

**Repo**
List
Create
For

[2018-08-01 02:43] #554 closed

[2018-08-02 21:54] codeallthethingz commented on #302
I tried a few variations and get an error message

[code]

[2018-08-03 00:34] protoEvangelion commented on #302
@codeallthethingz This seems to be working now

[code]

[2018-08-03 00:36] protoEvangelion commented on #302
Edit: Actually I take that back, it is including repos not from the organization passed in.

[2018-08-03 00:51] protoEvangelion commented on #302
Running this for my organization returns all public & private repos:

[code]

I think the pagination [work that was recently committed](https://github.com/node-gh/gh/issues/539) & released in v1.12.14 allows this to function correctly. If you have a large organization you might have hit the page limit of 100 which only includes public repos. Now it properly returns all repos for the org passed in.

[2018-08-03 00:51] #302 closed

[2018-08-04 18:38] protoEvangelion opened #555 "Patch Outdated Dependencies"
Need to patch at least to these versions: https://david-dm.org/node-gh/gh

[2018-08-13 18:20] #553 closed

[2018-08-23 04:33] protoEvangelion opened #556 "Set up plugin architecture for v2"
*Acceptance Criteria:*
1. Accommodate other existing plugins without having to refactor them
2. Allow before & after hooks to run on each cmd

[2018-08-24 09:23] gghhh456 opened #557 "vulnerabilities detected when running npm audit"
Hey there,

I get 3 vulnerabilities (2 low, 1 critical) after installing this package.

`npm --version  #6.4.0`

`node  -v #8.11.3`

![vulnerebility](https://user-images.githubusercontent.com/14292516/44576694-821e8400-a78f-11e8-8aae-085a137dc6e5.png)

[2018-08-26 06:02] artivilla opened #561 "authentication issues"
Attempt:
Trying to view github issues by running `gh is` in a private respository.

Results:
Looked through some other issues and I'm still having this issue:
[code]
mac OSX : 10.12.6 (16G1212)
gh@1.12.14

[2018-08-26 07:54] protoEvangelion commented on #557
@gghhh456 Thanks for reporting :)

Although the warnings were benign AFAIK, I went ahead and updated dependencies to get rid of the `npm audit` warnings.

A lot of these warnings are not an issue because they either exploit a running server like a DDoS attack  or rely on malicious user input. These types of exploits should not affect gh users.

It does feel nice though when the report comes back:

[2018-08-26 07:54] #557 closed

[2018-08-27 17:07] protoEvangelion commented on #561
Hey @artivilla I will look into this. In the meantime can you run again with `--verbose` and post the output please? Thanks 😄

[2018-08-27 22:28] artivilla commented on #561
Actually, I noticed the token was going to my sms instead. All good, I'll try this out and reopen if I run into any issues.

[2018-08-27 22:28] #561 closed

[2018-08-28 05:34] protoEvangelion commented on #561
Thanks for the update @artivilla

[2018-08-29 01:26] #555 closed

[2018-08-29 01:27] protoEvangelion commented on #555
Dependencies updated. https://github.com/node-gh/gh/commit/ead1a2c8af0db7035aa782386387a64df9ed9ab6

[2018-08-30 22:40] drewbrokke opened #563 "GH attempts to link a PR to the wrong remote branch name when the local branch name contains 'pr-'"
I'm working on a set of changes where the branches are prefixed with `gdpr-*`, and whenever I try to submit a PR with one of these branches, I get the following error:

[code]

The local branch name is: `gdpr-LPS-84401-roles-uad`
And GH attempts to link to: `pr-gdLPS-84401-roles-uad`

[2018-08-30 22:50] drewbrokke commented on #563
I changed the `pull_branch_name_prefix` value in my `~/.gh.json` config file, but I'd rather not have to change it to send these particular pulls.  At least there's a workaround.

[2018-09-04 22:25] protoEvangelion opened #564 "gh pr --submit opens wrong url in browser"
When branch is something like `pr-100` and the new pull number is different like `102`, the url that opens in the browser is wrong. Everything else works as expected except the url in the browser.

[2018-09-05 00:34] protoEvangelion commented on #556
Will create a new issue to hook up oclif plugins if feasible.

[2018-09-05 00:34] #556 closed

[2018-09-05 00:44] protoEvangelion opened #565 "Update License Headers"
Something like this:

/**
 * © 2013 Liferay, Inc. <https://liferay.com> and Node GH contributors
 * (see file: CONTRIBUTORS). All rights reserved
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

[2018-09-05 17:32] protoEvangelion opened #566 "Write integration tests for `gh pr` cmd"
Currently there are only a few unit tests and no integration tests which reduces refactoring confidence.

A couple things on the roadmap are adding TypeScript and graphQL.

But before we do that, we need to have good integration tests starting with the `pr` cmd.

[2018-09-13 16:44] protoEvangelion opened #567 "Output more descriptive error when user not found"
If you send a PR to a user that does not exist, the error is not very descriptive.

[code]

We should detect this error and output something like:

"The user you sent the PR to does not exist"

[2018-09-13 18:58] protoEvangelion commented on #567
Thanks for the quick turnaround on this @juw910 I will test this soon. Great work!

[2018-09-15 15:56] #567 closed

[2018-09-15 16:01] protoEvangelion commented on #567
:tada: This issue has been resolved in version 1.13.3 :tada:

The release is available on:
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.13.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-16 03:58] protoEvangelion commented on #566
Ended up using the pattern adopted by [Octokit/rest.js](https://github.com/octokit/rest.js/blob/master/test/integration/pagination-test.js).

Since they already have the scenario of searching through issues we will use that as our starting point.

[2018-09-16 04:27] protoEvangelion opened #570 "Add badges for Pretttier & Semantic Release to readme"
Here is the badge for Prettier: "[![code style: prettier](https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square)](https://github.com/prettier/prettier)"
Here is the badge for Semantic Release: "[![semantic-release](https://img.shields.io/badge/%20%20%F0%9F%93%A6%F0%9F%9A%80-semantic--release-e10079.svg)](https://github.com/semantic-release/semantic-release)
"

[2018-09-16 04:28] protoEvangelion commented on #570
These should go in the header of the readme along with the other badges.

[2018-09-16 04:35] protoEvangelion opened #571 "Use format issues function to handle issues format"
In order to set up the search issues functionality for integration testing, we had to abstract the formatting issues logic into a function. #569

This should be identical to the listing issues functionality: `gh is --list`

Label formatting has been updated recently but those changes were never applied to the search functionality. We need to adapt the new `formatIssues` function to include the [fo

[2018-09-16 13:57] tijuthomas commented on #570
I would like to take this up as my first issue.

[2018-09-17 15:33] protoEvangelion commented on #570
@tijuthomas It's all yours go for it 😄

[2018-09-28 19:46] protoEvangelion commented on #570
:tada: This issue has been resolved in version 1.13.4 :tada:

The release is available on:
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.13.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-11 00:29] protoEvangelion commented on #436
Someone on my team was getting an error as well when running `gh pr number`

[code]

The problem in this case was that they did not have ssh set up.

I added an option to disable ssh and use https instead via the `~/.gh.json` config:

[code]

[2018-10-11 00:40] #436 closed

[2018-10-11 00:46] protoEvangelion commented on #436
:tada: This issue has been resolved in version 1.13.5 :tada:

The release is available on:
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.13.5)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-11 01:49] protoEvangelion commented on #571
Resolved here: https://github.com/node-gh/gh/commit/f7c0de3b41b4617f1b5104c1f65933ff6390c2ff

[2018-10-11 01:49] #571 closed

[2018-10-12 10:03] jayhogan opened #579 "Redirects are not followed"
Version: `gh 1.13.5`

My first experience using `gh` was working with a repo that I recently renamed. In this scenario, github will respond with a `301` and include the new url in the `Location` header field.

Here is a sample response:

[code]

Relevant github API docs: https://developer.github.com/v3/#http-redirects

I resolved the issue by updating remote url in my local repo:

[code]

[2018-10-17 18:15] drewbrokke opened #580 "It's difficult to see the branch breaks in `gh pr --detailed` view."
When viewing PRs across multiple branches, the standard `gh pr` is not so bad:
<img width="758" alt="screen shot 2018-10-17 at 11 11 20 am" src="https://user-images.githubusercontent.com/6403097/47107158-6b2f6780-d1fd-11e8-8806-62419e38d524.png">
But when calling `gh pr --detailed`, the visual noise is hard to parse through:
<img width="835" alt="screen shot 2018-10-17 at 11 12 26 am" src="https:/

[2018-10-20 18:52] ericnewton76 opened #582 "node-gh home page shows 404 error in iframe"
btw, cool project! will `npm install -g node-gh` for sure.

just wanted to let you know...

![image](https://user-images.githubusercontent.com/2211788/47259449-ba80cc80-d477-11e8-8071-3d606a89513f.png)

[2018-10-22 21:42] jwu910 commented on #582
Bump @protoEvangelion

[2018-10-22 22:12] protoEvangelion commented on #582
@ericnewton76 thanks for the heads up!!! `npm i -g gh` by the way 😉

@jwu910 I think this has to do with the [asciinema](https://asciinema.org/a/3391) link. Wanna take a look on the `gh-pages` branch?

[2018-10-22 22:13] protoEvangelion commented on #580
I agree! We cleaned up the formatting for listing issues and this could use a revamp too!

[2018-10-22 22:15] protoEvangelion commented on #580
If someone wants to take a shot at this, you will want to start here: https://github.com/node-gh/gh/blob/master/lib/cmds/pull-request.js#L461

[2018-10-22 22:16] protoEvangelion commented on #579
@jayhogan Thanks for reporting!

Were you noticing this in previous versions?

Also what cmd(s) were you running when you ran into this?

[2018-10-23 02:08] jwu910 commented on #582
@protoEvangelion 	Already took a look. I think either asciinema deletes files after a certain time, or the original owner deleted the file. Probably will have to re-record something for it.

I used https://github.com/phw/peek on my own projects. Check it out =p

[2018-10-26 18:16] #565 closed

[2018-10-31 15:50] jayhogan commented on #579
Sorry for the late response. This was my first experience with node-gh so I had tried previous versions of the tool. I encountered the problem with `gh issue` and `gh pr` but I would expect to see this issue with any command in a renamed repo.

There is a simple workaround (update your remote reference!) so I would consider this a low priority issue.

Thanks!

[2018-10-31 16:33] protoEvangelion commented on #579
Thanks for expanding on that @jayhogan. It's definitely something we should do!

[2018-11-07 17:17] stguitar commented on #449
@mdelapenya sorry to comment on something old, but I need this too.  Isnt that what the "default_branch" setting in the local config file is used for?

[2018-11-07 17:56] mdelapenya commented on #449
Is it possible to define it per repository? Or is it a single value?

[2018-11-07 18:15] stguitar commented on #449
my use case is more globally applicable, however, according to the docs, you can create a .gh.json file in the projects themselves, which can be used to override any global settings.

[2018-11-08 06:36] dantewang opened #583 "Prepend username to branch name when fetching from other's repo"
For example, can we make `gh pr 100` fetches the PR on my repo to local branch `pr-100`, while `gh pr 100 -u johndoe` fetches the PR on John Doe's repo to local branch `john-doe-pr-100`?

[2018-11-08 18:04] protoEvangelion commented on #583
@dantewang That is a good use case thanks for bringing it up.

In `~/.gh.json` there is a field that we could leverage to do this: `"pull_branch_name_prefix": "pr-",`.

One approach might be to add something like `"pull_branch_name_prefix": "{{options.user}}-pr-",` and where we set the branch name dynamically add the user name at that point.

If you are interested the relevant code to make this ch

[2018-11-28 00:04] earthbound19 opened #584 "Side effect of unassign people from closed issue"
I found that I can remove all assignees from a closed issue with a command like this, run from the directory of the git repo with an associated GitHub remote:

`gh is --assign --assignee "" --number 362`

--which may not have been any behavior that was intended for `gh`. What I want is an `--unassign-all` switch (feature request I suppose, unless it _is_ intended behavior for an empty string assig

[2018-12-01 06:11] protoEvangelion commented on #584
We use https://github.com/octokit/rest.js#readme under the hood and just pass it a list of assignees: https://github.com/node-gh/gh/blob/master/lib/cmds/issue.js#L352 to the `edit` endpoint.

However, their api endpoints have since updated and seem to be more granular.

We have not updated to their latest version yet so resolving this quickly is unlikely. I am in the process of building out our te

[2018-12-14 20:06] rotty3000 commented on #536
I see this message but I have a `~/.gh.json` file. Any ideas?

[2018-12-14 20:10] rotty3000 commented on #536
Ok, On Ubuntu 18.10 the node module install directory is now `/usr/local/lib/node_modules`.

Editing the `~/.gh.json` file and changing the line:
`"plugins_path": "/usr/lib/node_modules"`
to
`"plugins_path": "/usr/local/lib/node_modules"`
fixed the issue.

[2018-12-17 18:40] hamxabaig opened #589 "Enhancement: Show pull requests list in a nice table"
Hey there, excellent work by the way. I use it almost every other hour daily. There is one enhancement which can be made. I mostly use it to list opened PRs.

When looking at the PR's list, it seems you have to look around and find the data you need even if its right in front of you. Thats why i think it needs a little bit of redesign?

I was playing with this [table component](https://github.com/

[2018-12-17 18:49] protoEvangelion commented on #589
Hey @hamxabaig I really like this!

A couple questions first:

1. How does this look when the terminal isn't full width? Does it resize nicely?
2. What are your thoughts on backwards compatibility. I know some GH users have scripts which parse the output of cmds like `gh pr`. Maybe we could add this to the `~/.gh.json` config as a key like `table: true` or `output: 'table'` `output: 'string'`

[2018-12-17 18:49] #589 closed

[2018-12-17 18:54] hamxabaig commented on #589
@protoEvangelion

1. Yep it does, I have given the widths for the columns in % which i then calculate based on the terminal's total columns. The `cli-table2` component then wraps the text if it doesn't fill.
<img width="956" alt="image" src="https://user-images.githubusercontent.com/12872177/50108366-d70e6a80-0256-11e9-8f9a-dfaf15ec51a9.png">

There is some space left on the right side, so if i ca

[2018-12-17 18:56] protoEvangelion commented on #536
@rotty3000 When `gh` is run, we look for `plugins_path` and if it is not in your `~/.gh.json` we run `npm root -g` which outputs the dir of your global node_modules path. Then we add that path to `~/.gh.json`.

I'm not sure why that isn't working in your case.

For future proofing npm installations I like doing this: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packag

[2018-12-17 19:08] protoEvangelion commented on #589
Nice! Was there a reason you chose to use `cli-table2` over https://github.com/Automattic/cli-table ?

I just read the cli-table src code which seems really clean/minimal and it appears to have better maintenance. I think it would be a great idea as well to include the terminal link idea as well 👍

One implementation thing to take into account is if the user adds the `--detailed` flag.

That being

[2018-12-17 19:25] rotty3000 commented on #536
@protoEvangelion I think the issue was that my .gh.json _had_ an actual value, but it was incorrect.

[2018-12-17 19:45] #582 closed

[2018-12-17 20:19] jwu910 commented on #582
Nice job

[2018-12-17 20:46] ericnewton76 opened #590 "Recommendation: `gh --help` and `gh [command] --help` descriptions"
Hi.  Just trying out gh and realized none of the commands have much (if at all) descriptions

[code]

So I'm somewhat unsure how to use it without dipping into the source code.

[2018-12-17 22:14] protoEvangelion commented on #590
Hey @ericnewton76 that is a fantastic recommendation.

Also sometimes I would like to see flags for a cmds for a level deeper like at `gh repo --list`. Most of the time the answer is in the readme: https://github.com/node-gh/gh#examples-19

But I agree that it should be accessible at the cmd line level. This is a CLI tool after all right?!

We are using an [option parser](https://www.npmjs.com/pac

[2018-12-17 22:15] protoEvangelion commented on #536
Got it, thanks for the clarification 😄

[2018-12-17 22:21] ericnewton76 commented on #590
Like I mentioned before, I am pretty familiar with `npm commander` for option parsing, allows for subcommands and (sub-sub commands I think).

Its the easiest for options/arguments/commands:

[code]

On another note, I feel like --list shouldn't be an option, but a subcommand of repo...

`gh repo list -u user --verbose`

Although I'm not sure how you guys feel about that aspect (ie, make subsub-co

[2018-12-17 22:37] ericnewton76 commented on #590
`gh repo:list -u user` makes a whole lot more sense to me.  (Although not sure about the colon, I believe commander tries to find a subcommand in a separate file, so in this case cmd-repo:list.js but might choke on the ':'.

I would actually just declare the change, kick the version major up, and let the consumers decide when they're ready.

[2018-12-18 00:11] protoEvangelion commented on #590
Thanks for the feedback, this is definitely on my todo list!

[2018-12-18 06:11] hamxabaig commented on #589
Yeah, `cli-table2` offers more features. Like new lines wrapping, more flexible columns management. More [advanced options](https://github.com/jamestalmage/cli-table2/blob/master/advanced-usage.md)

About `--detailed` flag, what do you suggest? I think we can show the body of the PR below title in the title column. Or we can render it completely different then the above. Like below:

Title
Body
Au

[2018-12-24 20:31] protoEvangelion opened #596 "Combine PR merge & rebase functionality into `gh pr --fetch` cmd"
Right now the `gh pr --fetch --merge` cmd will never call our merge handler because of this: https://github.com/node-gh/gh/blob/master/lib/cmds/pull-request.js\#L169

The merge handler only calls git cmds and does not perform a fetch (which is confusing because the docs suggest this is possible).

Ideally we would combine merge/rebase into the fetch cmd. From there, when you call `gh pr --fetch`,

[2018-12-29 22:32] protoEvangelion opened #599 "Add support for text links"
Use https://github.com/sindresorhus/terminal-link wherever it makes sense to use text links. Further research here: https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2018-12-29 22:42] protoEvangelion commented on #566
https://github.com/node-gh/gh/compare/master@%7B12-27-18%7D...master@%7B12-29-18%7D

[2018-12-29 22:42] #566 closed

[2018-12-29 23:32] protoEvangelion opened #601 "Add docs on milestone cmd"
Though this cmd can be accessed from the --help cmd, we should add it to our readme. It is a very small file so it should be very quick to write these docs.

[2018-12-29 23:34] protoEvangelion opened #602 "Add clear success confirmation when deleting gists & repos"
We could add a simple success check mark like we do for PR builds that pass

[code]

[2018-12-30 00:34] protoEvangelion opened #604 "Convert all cmds singular nouns"
Most of the cmds are already singular, but there are a couple inconsistencies with Notifications & Gists

[2018-12-30 02:14] protoEvangelion opened #606 "Add e2e tests for repo label cmds after we upgrade to newest v of octokit"
GitHubs api for adding labels to repo seems to have changed. We need to upgrade to the latest v of Octokit to retain this functionality.

[2019-01-05 19:15] #238 closed

[2019-01-05 19:18] protoEvangelion commented on #273
Now that we are using TypeScript we can use this rule: https://palantir.github.io/tslint/rules/variable-name/.

There are a lot of warnings when turning on this feature though so it will be quite a bit of a refactoring.

[2019-01-05 21:16] protoEvangelion commented on #219
Another idea would be to check their `~/.gh.json` file and cross check it with our `default.gh.json` file to see if theirs is missing any keys. If keys are missing, we could write them to `~/.gh.json`. For superfluous keys we could either delete them or just leave them be.

[2019-01-05 21:26] protoEvangelion opened #612 "Upgrade from npm github package to @octokit/rest"
This is going to be an intense upgrade @octokit/rest does not work with the callback pattern which we are using everywhere.

This will require us to un-nest callback hell into async/await because @octokit/rest returns a promise.

Also we will need to verify that the payload keys are all correct and the method names have not changed.

[2019-01-05 21:31] protoEvangelion commented on #612
One of the unforseen issues that popped up is nock not handling gzipped rest responses but storing them as hex: https://github.com/nock/nock/issues/1212

This prevents us from normalizing the data.

One idea is to fix this in nock by ungzipping it then allowing nockback to provide the normalization function as usual. Then adding a new lifecycle method in nockBack to regzip once the normalization i

[2019-01-05 21:37] protoEvangelion commented on #580
Related: #611, #595, #589

[2019-01-05 21:45] protoEvangelion opened #613 "Add table formatting to issues"
Once #595 is merged we can add this table formatting to issues.

See if there is room to list labels even without the `--detailed` flag.

[2019-01-05 21:47] protoEvangelion commented on #548
Currently labels are showing with the `--detailed` flag. We will revisit adding labels to `gh is` once we begin this #613

[2019-01-05 21:47] #548 closed

[2019-01-05 21:47] protoEvangelion commented on #549
Currently labels are showing with the --detailed flag.

[2019-01-05 21:47] #549 closed

[2019-01-05 21:52] protoEvangelion commented on #528
After thinking this through again, I realized you can actually use a hook to add as many comments as you want after the PR has been submitted.

In your `~/.gh.json` file you can adjust the hook to run whatever cmd you want:

[code]

[2019-01-05 21:52] #528 closed

[2019-01-05 21:57] protoEvangelion commented on #467
@gamerson I was recently pondering why we currently have a `gh pr --fetch 1 --merge` if all it does is merge locally.

After all this really isn't a git tool but a GitHub tool ahah.

I would like to leverage those existing commands for `--merge`, `--rebase` and repurpose them to merge and rebase remotely.

[2019-01-05 21:59] protoEvangelion commented on #596
related: #467

[2019-01-05 21:59] #596 closed

[2019-01-05 22:01] protoEvangelion commented on #458
Docs are using an npm badge now which should always update to the latest version automatically.

[2019-01-05 22:01] #458 closed

[2019-01-05 22:05] protoEvangelion commented on #450
We could offer a list of authentication options using inquirer: https://github.com/SBoudrias/Inquirer.js#prompt-types

The list of options could include what `@octokit/rest` offers: https://github.com/octokit/rest.js#authentication

[2019-01-05 22:06] protoEvangelion commented on #352
Make sure to throw clear error for this: #435

[2019-01-05 22:06] protoEvangelion commented on #435
Will be fixed by #352

[2019-01-05 22:06] #435 closed

[2019-01-05 22:16] protoEvangelion commented on #426
The timestamps are correct but I am noticing that it is not clear which repository an issue comes from.

Also, 'No issues.' is being printed out numerous times which doesn't make sense.

We will tackle this here: #613

[2019-01-05 22:16] #426 closed

[2019-01-05 22:18] protoEvangelion commented on #423
@henvic I know that it has been a while since you opened this. I am not sure what the purpose of this would be.

Are you think of something like: https://restfulapi.net/json-schema/

And the benefit would be for plugins using our rest-api-client?

[2019-01-05 22:30] protoEvangelion commented on #383
@kennethlynne I know it has been a while since you opened this, but I am doing a deep cleaning of our issues and thought this was pretty cool.

So does your idea go something like this?:

1. Create issue: `gh is 'issue title' 'issue description'`
2. Then exit the program instead of keeping it open waiting for the response

We could indeed do this, but you would lose the ability to use hooks (like

[2019-01-05 22:37] protoEvangelion commented on #422
@mdelapenya this should be fixed by: https://github.com/node-gh/gh/commit/f07338961d68337e230e78feed5a2504d34e407a Please let me know if you are still having issues.

[2019-01-05 22:37] #422 closed

[2019-01-05 22:41] protoEvangelion commented on #418
Should be fixed by: 3cc4366

[2019-01-05 22:41] #418 closed

[2019-01-05 22:43] protoEvangelion commented on #419
On second thought since this isn't really a git tool, but more of a GitHub tool this shouldn't be a feature of `gh`.

I have a zsh alias that just runs two commands to make this simple:

[code]

[2019-01-05 22:43] #419 closed

[2019-01-05 22:45] protoEvangelion commented on #416
I have not seen this issue. Please reopen or create a new issue with clearer reproduction instructions 😄

[2019-01-05 22:45] #416 closed

[2019-01-05 22:47] protoEvangelion commented on #413
This appears to be fixed. Please let me know if it is still an issue 😄

[2019-01-05 22:47] #413 closed

[2019-01-05 22:51] protoEvangelion commented on #379
I would prefer [json5](https://json5.org/) since it is more idiomatic to JS devs. We could simply add this `require('json5/lib/register')` before we load the json config.

[2019-01-05 22:51] protoEvangelion commented on #219
Related: #379

[2019-01-05 23:00] protoEvangelion commented on #405
@natecavanaugh I'm resurrecting this discussion ha!

If I understand you correctly, you are suggesting to allow gh-jira to add a better default PR title?

I do see the value in automating it as I do that personally through a zsh function.

[code]

Maybe a simpler solution would be just to list that example in the docs?

[2019-01-05 23:09] protoEvangelion commented on #357
@tomzx I know it's been a while since you brought this up but I strongly agree with the idea that this tool should be easy to use in an automation pipeline.

Were you envisioning running commands directly or requiring the gh lib in a node file and calling the apis directly?

[2019-01-05 23:12] protoEvangelion commented on #354
Will be fixed by #612. We also have e2e tests that should catch any changes in the @octokit/rest api 😄

[2019-01-05 23:12] #354 closed

[2019-01-05 23:16] protoEvangelion commented on #348
This seems like an important feature to have and can be easily implemented by simply adding the key `milestone` in the payload: https://octokit.github.io/rest.js/#api-Issues-create

[2019-01-05 23:19] protoEvangelion commented on #346
Could be easily done via: https://octokit.github.io/rest.js/#api-Issues-createMilestone

I'm not sure what the signature would look like for this. Maybe:

[code]

Related:  #348

[2019-01-05 23:24] #59 closed, assigned to nobody

[2019-01-05 23:31] protoEvangelion opened #614 "Further abstract options parsing"
We should further abstract options parsing by using a package like: https://github.com/tj/commander.js, http://yargs.js.org/docs/, or https://oclif.io/

This will reduce overhead of maintaining low level options parsing, the help file, the version file & possibly plugin integration.

Also it will reduce points of failure as we can also introduce an integration test for whichever tool we choose.

[2019-01-05 23:34] protoEvangelion opened #615 "Create monorepo to house node-gh packages"
There is a good discussion on this: https://spectrum.chat/frontend/general/what-are-the-advantages-to-use-mono-repo-or-multi-repo-structure~652101ca-1c12-4cf5-99e3-55ff802201a4

Overall I like it because it provides a nice way have common package, tests, and other setup files.

Also this could help streamline the release process.

[2019-01-05 23:35] protoEvangelion commented on #615
Depends on #614

[2019-01-07 15:55] gamerson commented on #467
Actually I've never used those commands :) --fetch --merge for the pr
command.  Also, does github even do a remote rebase?  I thought that
feature was removed a long time ago.

On Sat, Jan 5, 2019 at 3:57 PM Ryan Garant <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-01-07 16:01] protoEvangelion commented on #467
It looks like you can squash, merge, or rebase remotely with this octokit method: https://octokit.github.io/rest.js/#api-Pulls-merge

[2019-01-07 16:06] gamerson commented on #467
Oh i see, rebase for the PR.  I was thinking rebase (fast-forward) for a
remote fork which I don't think exists anymore.

On Mon, Jan 7, 2019 at 10:01 AM Ryan Garant <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-01-09 23:28] protoEvangelion opened #617 "Help cmd not print subcmd correctly"

[2019-01-12 04:00] henvic commented on #423
Hi @protoEvangelion,

Thank you for the work you have been doing here. I love it.

I was indeed thinking about a way to validate responses from the API before consuming. I'm not sure how I should approach this now if I were to work on it, and perhaps the right call would be to close it (this should be up to you, as you've taken ownership of the project).

PS: with strongly typed programming langua

[2019-01-12 04:06] protoEvangelion commented on #423
Thanks for clarifying. The github api package now @octokit/rest has really improved their TypeScript definitions. Now that we are using TypeScript we can check parameters really easily, so this shouldn't be a problem. And on top of that, TypeScript with VS Code is a match made in heaven!

[2019-01-12 04:06] #423 closed

[2019-01-13 07:31] #617 closed

[2019-01-23 18:14] vidavidorra commented on #457
Any update on this? I'm a new user would very much like support for releases, specifically the `--list` in my use case.

[2019-01-23 18:18] weierophinney commented on #457
@vidavidorra I have written a tool that manipulates changelog files in [Keep-A-Changelog](https://keepachangelog.com) format, and added tooling to that to perform releases (it pulls the changelog for the given release and pushes it to GitHub). It's written in PHP; if that sounds useful to you, you can find it at [phly/keep-a-changelog](https://github.com/phly/keep-a-changelog).

[2019-01-30 14:50] mtyurt opened #619 "Cannot run `gh pr` outside of a git repository for a different account"
*What happened?*
I'm using `gh` outside of a git repository, i.e. polling the open pull requests for a dashboard. I cannot fetch pull request information on another account than mine.
[code]

*What is expected?*
I understand `remote` should be the same as remote names in a repository. However, I would expect to run a command outside of my git repository directory with proper repo names:
[code]

[2019-01-30 16:49] protoEvangelion commented on #619
Hey @mtyurt have you tried `gh pr -u node-gh -r gh` or `gh pr --user node-gh --repo gh`?

[2019-01-30 18:31] mtyurt commented on #619
@protoEvangelion thank you, that command works. It might make sense to add an example like this to the documentation, considering that flags don't have any explanation :) First I saw it, I thought it was filtering the pull requests for given user, not the account name.

[2019-01-30 18:36] protoEvangelion commented on #619
Great suggestion @mtyurt Now that I think about it, it is unclear the difference between `--repo`, `--user` and `--remote`. I will open a new issue with that suggestion 👍

[2019-01-30 18:36] #619 closed

[2019-01-30 18:38] protoEvangelion opened #620 "Clarify --repo, --remote, and --user for PRs"
_Per @mtyurt comment in https://github.com/node-gh/gh/issues/619#issuecomment-459055853_ we should clarify the difference between `--repo`, `--remote`, and `--user` as it relates to PRs.

This could be done via an example. Or by clarifying the flag descriptions.

[2019-01-30 21:14] mtyurt commented on #620
Just added a PR for this issue #621

[2019-02-05 19:40] protoEvangelion commented on #589
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on:
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.14.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-06 01:44] #620 closed

[2019-02-06 01:45] protoEvangelion commented on #580
@drewbrokke here is what it looks like now:

![image](https://user-images.githubusercontent.com/20076677/52315905-d9936380-296d-11e9-8b8b-f1fb5114dd5a.png)

Is that good enough for you?

[2019-02-06 01:48] drewbrokke commented on #580
@protoEvangelion that looks really nice. Do you have an example of what it looks like when viewing pulls across multiple repos?  That was my original gripe :)

[2019-02-06 02:00] protoEvangelion commented on #580
It starts a new table with new headers so it is pretty clear visually

![image](https://user-images.githubusercontent.com/20076677/52316390-faf54f00-296f-11e9-9593-5701d87f58b0.png)

[2019-02-06 02:18] protoEvangelion opened #622 "Semantic Release is committing lib even though it is in .gitignore"

[2019-02-06 05:03] #622 closed

[2019-02-07 15:24] zevaverbach opened #624 "`repo --new` fails silently, doesn't work as expected"
It seems like `gh repo --new` doesn't do anything, but it doesn't report an error or ask for additional arguments.

My expectation is that if you're in a git init'd local repository, `gh repo --new` would create a public repo on Github and add it as "origin" to the local repo, preferably also doing a `set-url` for convenience too.

Would you accept a PR implementing these?  I'd also update the doc

[2019-02-08 19:27] protoEvangelion commented on #624
@zevaverbach thanks for catching that!

If you find the bug, we would be happy to accept a PR for that.

`gh re --new foo --clone` should clone to your current directory and achieve what you are looking for. If this doesn't do what you would like, please let me know 😄

[2019-02-09 20:56] bokchan opened #625 "Listing with ability to specify the date formatting string"
In the list views the date is formatted as relative i.e.:

[code]

The order/formatting of `PR number`, `title`, and `github username` can be manipulated with `sed`, but it could be really nice to be able to specify the **formatting of the date**, .e.g

[code]

[2019-02-11 17:59] protoEvangelion commented on #625
Hey @bokchan, right now we only have to views: detailed and non detailed. Can you give some examples of what you are looking to print out and not print out?

[2019-02-11 18:26] bokchan commented on #625
Hi @protoEvangelion
First of all, thanks for a great tool!

The question came up because I wanted to generate a changelog from a milestone which lists the datetime as **relative**

[code]

The order/formatting of `PR number`, `title`, and `github username` can be manipulated with `sed`, but it could be really nice to be able to specify the **formatting of the date**, .e.g

[code]

[2019-02-11 20:57] protoEvangelion commented on #625
Thanks for the clarification. So we use moment for our date parsing. Would something like this work for you? https://momentjs.com/docs/#/displaying/format/

[2019-02-12 15:39] bokchan commented on #625
If you mean the formatting capabilities offered by `momentjs`, then yes that would be more sufficient :)

I will change the title and description to make the issue clearer

[2019-02-12 22:02] protoEvangelion commented on #625
@bokchan I just added the ability to pass in a formatter like `gh is --date "ddd, hA"` here: https://github.com/node-gh/gh/pull/626

It should also now work for all other list based cmds.

You can check it out by forking, cloning, then running:

[code]

and following instructions [here](https://github.com/protoEvangelion/gh/blob/b2b11f25d8e5e57c97b8eaaa16bcfbd748f443b4/CONTRIBUTING.md#building) to

[2019-02-13 02:31] protoEvangelion commented on #625
:tada: This PR is included in version 1.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-13 02:31] #625 closed

[2019-02-15 20:32] drewbrokke opened #628 "The PR status display does not support the "pending" and "error" statuses"
According to [Github's documentation](https://developer.github.com/v3/repos/statuses/#statuses), there are 4 possible statuses that a pull request can be in (marked by CI integration, for example):

- error
- failure
- pending
- success

Right now, `gh` only supports "failure" and "success", but this is misleading when quickly glancing over the list of pull requests.  `gh` should be able to displa

[2019-02-15 20:34] protoEvangelion commented on #628
When you say "support", are you referring to the green check mark & red x that are printed out when listing PRs?

[2019-02-15 20:35] drewbrokke commented on #628
yes exactly, thanks for clarifying :)

[2019-02-15 21:10] protoEvangelion commented on #628
:tada: This PR is included in version 1.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-15 21:10] #628 closed

[2019-02-15 21:47] drewbrokke commented on #580
PR send to https://github.com/node-gh/gh/pull/631

[2019-02-15 22:30] drewbrokke commented on #580
Resent as https://github.com/node-gh/gh/pull/632

[2019-03-07 21:33] protoEvangelion commented on #624
🎉 This PR is included in version 1.17.2 🎉

[2019-03-07 21:33] #624 closed

[2019-03-20 15:08] julien opened #637 "gh --help throws an error"
Hi,

I'm using `gh@1.17.2` with `node v10.15.3` and `npm 6.4.1`

When I try to issue the following command:

[code]

The following error is printed to stdout

[code]

EDIT: This doesn't happen with v1.17.1 but I haven't taken the time to look at all the changes to find out what was happening

[2019-04-05 17:56] protoEvangelion commented on #637
Hey @julien, sorry for not updating you sooner! Thanks for reporting. This has been resolved in the latest release. 1.17.3

[2019-04-05 17:56] #637 closed

[2019-04-05 18:35] julien commented on #637
Great, thanks @protoEvangelion

[2019-04-10 19:02] rotty3000 opened #641 "how to ensure using the correct gh"
How to solve the following scenario:
[code]

[2019-04-10 19:04] rotty3000 opened #642 "deprecation warming for `github` module"
[code]

[2019-04-11 20:08] protoEvangelion commented on #642
Hey @rotty3000 thanks for the nudge. We are in the process of upgrading to octokit/rest however the upgrade was a bit more involved than anticipated because they use promises.

GH was written in the era of callbacks so it will require literally rewriting everything to promised based :)

Keep an eye on it here: https://github.com/node-gh/gh/issues/612

[2019-04-11 20:08] #642 closed

[2019-04-11 20:17] protoEvangelion commented on #641
Hmm something seems off. I just tested it locally and all it does is run this function which reads the globally installed package.json:

[code]

My globally installed package.json has the correct version. If you try this `cat $(npm root -g)/gh/package.json | grep version` what does it show?

[2019-04-11 20:52] rotty3000 commented on #641
[code]

[2019-04-11 20:54] rotty3000 commented on #641
I also deleted all the directories in `$HOME` that may have had some effect on the version, `.node`, `.npm`, `.yarn`, and anything else that seemed somehow related to node.js/npm/yarn.

... same problem.

[2019-04-12 03:56] protoEvangelion commented on #641
What is the output of: `which gh`  and `npm root -g`?

[2019-04-12 04:03] rotty3000 commented on #641
[code]

[code]

[2019-04-12 04:06] rotty3000 commented on #641
with that I discovered I have:
`/usr/local/lib/node_modules/gh` and `/usr/lib/node_modules`
I think I should be able to figure out from here where the two come from by asking apt who provides those directories. I'll put the info here for posterity once I figure that out.

[2019-04-12 04:17] protoEvangelion commented on #641
Hmm I resolved a similar issue by manually setting where npm installs global dependencies with these instructions: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally#manually-change-npms-default-directory

That might resolve your issue as well :)

[2019-04-12 04:26] rotty3000 commented on #641
so I couldn't find the package that provided the `/usr/local/` stuff, so I just removed `gh` from there, and now I get the right version. Thx for you help!

[2019-04-12 04:26] #641 closed

[2019-04-24 22:11] jwu910 opened #644 "Feature: Introduce regex pattern to infer a branch title from"
Would it be possible to have a configuration property containing a regex pattern that GH could use to name a branch when pulling a PR down?

For example, if someone sends me a PR titled `TICKET-1234`, I could give GH a regex pattern that matches some `TEXT dash NUMBERS` and either grab that from the PR title, or from the latest commit as this is also a common practice.

[2019-04-30 16:58] protoEvangelion opened #645 "Add new PR Draft feature"
https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2019-05-08 02:09] kenshinji commented on #450
@mohhasbias Are you sure about that? This is what I got when I was using personal access token for accessing.

<img width="1039" alt="Screenshot 2019-05-08 at 10 09 03 AM" src="https://user-images.githubusercontent.com/1403893/57344316-560a2e00-7179-11e9-884c-d6743ae68921.png">

[2019-05-08 12:39] ildella opened #646 "Add labels to existing issue"
Hi. I did expect that

```gh is 1111 -L "some label"```

would add the label, but it does not.

[2019-05-08 15:22] protoEvangelion commented on #450
@kenshinji you can generate a personal access token yourself here: https://github.com/settings/tokens/new

Add these scopes:

![image](https://user-images.githubusercontent.com/20076677/57386725-cc069900-7169-11e9-9cca-d846e271855e.png)

And then add to your `~/.gh.json`

[code]

This will allow you to bypass the prompt which is just a convenience method. All we do is generate the personal token a

[2019-05-08 15:22] #450 closed

[2019-05-08 15:41] protoEvangelion commented on #646
That is a good use case which we do not currently offer.

Realistically, we should have an `--update` option [here](https://github.com/node-gh/gh/blob/master/src/cmds/issue.ts#L111) instead of only offering the ability to update the assignee.

I would be happy to work with you on how to add that and release the feature quickly. It is unlikely that I will get to this myself since I am working hard

[2019-05-09 18:25] cleydyr opened #647 "Node GH will fail if the latest commit message is empty and title is not specified as an argument"

[2019-05-10 10:02] Bhupi2508 commented on #439
Hi guys, this is Bhupendra Singh, from Jaipur...
This is common problem for all the students when we create API for create branch in github.....

{
  "message": "Not Found",
  "documentation_url": "https://developer.github.com/v3"
}

for solve this error during create repository in Github.....
first create a personal token in Github=>setting=>developerOption=>generatePersonalToken...
after then...

[2019-05-10 14:44] protoEvangelion commented on #647
Hi @cleydyr in what case would a commit message every be empty?

[2019-05-14 17:54] cleydyr commented on #647
Sorry for not posting the steps to reproduce.

I ended up with a empty commit message accidentally somehow, but there's a deliberate way of doing that, like in
`git commit --allow-empty-message -m ''`.

Thanks

[2019-05-14 18:21] protoEvangelion commented on #647
Does it fail on every command? Do you have the error message?

[2019-05-27 13:21] cleydyr commented on #647
Sure. Here are the steps to reproduce.

1. Create a `test` branch on a repository with a valid remote on Github;
2. Create a dummy file just for test purposes;
3. Stage the previously created file;
4. Commit the staged changes with `git commit --allow-empty-message -m ''`
5. Submit a pull request with `gh pr --submit mygithubuser`, replacing `mygithubuser` with your user name from Github.

The fol

[2019-05-28 18:35] bpatram opened #648 "Logged in user returns wrong value from git repo"
`gh` reports my current user incorrectly when called from a folder that is a git repo (I think that's what is triggering it?).

[code]

In my case, it seems to return the organization the repo is owned by (ebth). Interestingly enough my `.gh.json` does list the correct user.

[code]

Deleting the `.gh.json` file and relogging has no effect.

[2019-05-28 18:46] bpatram commented on #648
When I remove my remotes from my local repo gh starts to report the user correctly.

[code]

[2019-05-28 18:51] bpatram commented on #648
Some version info of gh I'm running (latest version).

[code]

[2019-05-31 17:06] protoEvangelion commented on #648
Thanks for the clear guidelines on reproducing this @bpatram. So if the origin remote has a different user, gh is giving priority to the user in the remote url?

You are right that that is a bug for the user cmd.

I know we give priority to the user in the remote url if you don't pass in `--user username`. Do you have thoughts on whether or not that should be the default behavior?

[2019-05-31 18:32] bryceosterhaus commented on #645
+1

[2019-06-01 03:11] bpatram commented on #648
yes, this seems to be what is happening. I tested on another repo:

[code]

I don't think it should be. Although, I can't think of a use case where it would be preferred to use the repo's user/owner instead of the current user logged into gh. Maybe I am missing something.

---

To provide a bit more context into my specific use case; I use `gh` to build a rudimentary changelog based on a list of P

[2019-06-01 21:25] protoEvangelion commented on #648
[Here is the line](https://github.com/node-gh/gh/blob/master/src/cmd.ts#L156) that shows the logic for how the user is set. I blamed it and that line goes back to the inception of this project.

The remote origin user will win every time over the logged in user. I have never noticed that being a problem because my origin is always my username.

I am open to changing it for though for v2. I am work

[2019-07-02 10:03] theist commented on #589
Hi!

Just updated my `gh` and the new `gh pr` table format kicked in. Is there an optional parameter to see as it was before this? I have poor sight and keep a big font on the screen. As a result the  previous version was clearer for me and easier to grep.

[2019-07-02 10:24] hamxabaig commented on #589
@theist if you put `output: text` in json config file. I think it'll revert back to original text format. https://github.com/hamxabaig/gh/commit/0355a3006f59f25b09be89d874ed6a7dede1fd1d#diff-19fe9f14f395325dacf92342653af099R712

[2019-07-02 10:58] theist commented on #589
@hamxabaig Nope, but you at least point me to the right place in the code, it seems the config option to control this now is a boolean called `config.pretty_print` so I was able to revert it back.

Thanks!

[2019-07-02 11:17] hamxabaig commented on #589
Ah @theist i remember now, cool you found it!

[2019-07-18 03:08] tranvietanh1991 commented on #645
+1

[2019-07-29 19:28] ahmadawais commented on #537
Figured it out.

1. CREATE: ` gh re --new "REPO_NAME" --description "DESC"`
2. CLONE: `gh re --user USER_NAME --repo REPO_NAME --clone`

[2019-07-29 19:28] #537 closed

[2019-08-28 17:22] aaronkjones opened #651 "Error cloning when using GitHub Enterprise"
Output shows that it is using github.company.com, but then uses github.com in clone command `DEBUG: spawnSyncStream: git clone git@github.com:user/DemoRepo.git DemoRepo`

### Output
[code]

### Config
[code]

[2019-09-03 15:46] protoEvangelion commented on #651
Hey @aaronkjones that definitely looks like an issue! I will make a note to look into this.

[2019-09-04 09:06] mdelapenya opened #652 "Provide same table format for issues as in pull-requests"
`gh pr` displays a table and `gh is` displays a list.

As a user, I'd like to see same info about issues than in pulls, including issue status.

[2019-09-07 06:51] mdelapenya opened #653 "Support creating draft pull requests"
As shown here: https://developer.github.com/v3/pulls/#create-a-pull-request, it's possible to pass a `draft` boolean variable to the input to create draft PRs

[2019-09-07 06:51] mdelapenya commented on #653
Closing, as super seeded by https://github.com/node-gh/gh/issues/645

[2019-09-07 06:51] #653 closed

[2019-09-14 21:49] protoEvangelion commented on #645
@mdelapenya thanks for getting the ball rolling on this! I am about to merge a PR that includes the latest Octokit. So you can use this endpoint: https://octokit.github.io/rest.js/#octokit-routes-pulls-create

[2019-09-14 22:41] #580 closed

[2019-09-14 23:34] protoEvangelion commented on #580
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-1794cb776332befe0b19)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-14 23:37] protoEvangelion opened #656 "😻Updates 🎉"
**_If you are interested on gh updates, you can subscribe to this issue._**

## New Features

-  Fantastic work by @hamxabaig for implementing **beautiful table style** printing for listing pull requests (try it out with `gh pr --prettyPrint`)
-  **Pagination** for all list endpoints
-   Upgraded to **latest GitHub rest endpoints**
-   Added **throttling** Octokit plugin that uses best practices t

[2019-09-15 23:29] drewbrokke commented on #656
Nice work! I don’t fully understand removing the alias support though. I may be missing the obvious answer, but how would I go about replacing that functionality with a bash alias? So if I aliased a username ‘reallylomgusername’ to ‘user’, with the aliasing i’d just type ‘gh pr —submit user’. Now that it’s removed, the suggested replacement would to use standard shell expansion? So I’d type ‘gh pr

[2019-09-16 15:16] protoEvangelion commented on #656
Yes. When we were collecting telemetry, that didn't seem like something that was used. Additionally, most people I have seen using this tool, just use their own bash aliases. So I didn't want to reproduce what the shell can already do well ;)

[2019-09-16 22:55] thektan commented on #656
I use aliases as well. 😢 Was there overhead maintaining that feature? I'm personally not a fan of using the `$` character, but I suppose I can adapt.

[2019-09-17 17:49] protoEvangelion commented on #656
Thanks for chiming in @thektan . I am open to adding it back. How else do you do aliases in every other app though? For instance, I add github user aliases in my `.zshrc` and then can use them in any cli program. Shell aliases are more powerful and portable.

[2019-09-17 18:37] thektan commented on #656
@protoEvangelion I don't use aliases with other apps; the closest would probably be git remotes. My aliases are typically acronyms of complete commands (`alias yb=yarn build`). But if it's more standard to incorporate commands using variables with `$` maybe it's for the better to start using that more.

Although another benefit for having aliases specific to an app would be allowing for shorter al

[2019-09-17 18:56] protoEvangelion opened #661 "Add alias cmd back"
Conversation migrated from: https://github.com/node-gh/gh/issues/656

Although another benefit for having aliases specific to an app would be allowing for shorter aliases like m for myUser whereas in another app m could be used for master.
But ya, if it's more to maintain no worries! I appreciate the time you've taken to maintain this repo. 💯

[2019-09-17 20:31] drewbrokke commented on #661
@protoEvangelion thanks for the quick response! I personally love this feature so I'm glad to see it back :).

For the record, I see value in this app maintaining its own aliases because it's a bit like domain namespacing. I can have overlapping aliases in the shell and this app. I can also just use regular strings in my scripts that wrap `gh` so I don't have to mess around with expanding a shell

[2019-09-18 04:47] protoEvangelion commented on #661
:tada: This PR is included in version 2.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-21dd19b83b4f0a60e149)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-18 04:47] #661 closed

[2019-09-19 15:12] mdelapenya commented on #645
Well, I'm not a nodejs developer at all, so sorry for my ugly code!

[2019-09-21 23:55] protoEvangelion commented on #647
@all-contributors please add cleydyr for bug

[2019-09-22 00:06] protoEvangelion opened #666 "replace handlebars templating with lodash templating"
Since lodash has templating built in and we already have it installed, we should use it. Currently we are using handlebars to handle replacements for hook commands. Here is a blog on how to use lodash templating: https://learn.co/lessons/javascript-lodash-templates

[2019-09-22 00:08] protoEvangelion opened #667 "make options object immutable"
since the options object is so critical to all functionality, it would be wise to guard it with immutability. Trying this out with immutable.js

[2019-09-22 00:16] protoEvangelion commented on #372
@all-contributors please add tomzx for infra

[2019-09-22 00:19] protoEvangelion commented on #128
@all-contributors please add ramonPires for plugin

[2019-09-22 00:32] protoEvangelion opened #670 "Add issue templates"

[2019-09-25 03:21] #670 closed

[2019-09-26 01:00] protoEvangelion commented on #652
This will involve adding table format used in the `src/pull-request.ts` file in the `src/issue.ts` file. https://github.com/node-gh/gh/blob/f556b8731de6cbcbfe8f7df94564832b7ace2f19/src/cmds/pull-request.ts#L459

[2019-09-26 01:02] protoEvangelion commented on #613
https://github.com/node-gh/gh/issues/652

[2019-09-26 01:02] #613 closed

[2019-09-26 01:03] protoEvangelion commented on #601
Currently in Readme

[2019-09-26 01:03] #601 closed

[2019-09-26 01:05] protoEvangelion commented on #615
Not going to implement for now.

[2019-09-26 01:05] #615 closed

[2019-09-26 01:07] protoEvangelion commented on #612
:tada: This PR is included in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-1794cb776332befe0b19)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-26 01:07] #612 closed

[2019-09-26 01:08] protoEvangelion commented on #584
Just finished upgrading to their new api so this is possible now! https://octokit.github.io/rest.js/

[2019-09-26 01:13] protoEvangelion commented on #480
Looks like this can be done cleanly with the newly add octokit api: https://octokit.github.io/rest.js/#octokit-routes-issues-lock

File location to add this would be here: https://github.com/node-gh/gh/blob/8b772f11332260bf4d316a75957a0c6b2805d4db/src/cmds/issue.ts#L118

The approach would be to add a new flag like `--lock`.

And do `if (options.lock)...`

[2019-09-26 01:16] protoEvangelion commented on #477
Looks like this can be easily achieved with the newly added octokit api: https://octokit.github.io/rest.js/#octokit-routes-activity-list-notifications

For an example use the `latest` cmd: https://github.com/node-gh/gh/blob/c1f8cf2fea4961736c4f130af11f24983f4f90fb/src/cmds/notification.ts#L80

We could add a new flag like `--list`

[2019-09-26 01:37] protoEvangelion opened #673 "Add Ramda as a npm dependency to being refactoring towards functional style"
Ramda is the top functional programming lib for JS at the moment. https://ramdajs.com/

This issue will involve simply installing the dependency with npm as listed in the site above.

Make sure to read CONTRIBUTING.md and don't hesitate to reach out if you need any help 👍

[2019-09-26 01:42] protoEvangelion opened #674 "Spin up a boilerplate gatsby site"
Identify a good looking gatsby site for documentation. https://www.gatsbyjs.org/starters/\?v\=2 Branch off of gh-pages. You can clear all unrelevant files. Just instantiate the boilerplate to satisfy this ticket

[2019-09-26 01:46] protoEvangelion opened #675 "Add simple baseline performance benchmarking test"
Using something like https://github.com/logicalparadox/matcha add a simple test in the __tests__ directory that will establish baseline performance for one command like `gh is` which lists issues. If we exceed the time it takes to run that cmd, the test should fail.

When we are testing, we use nock which serves a presaved github api response so we don't hit the network.

Therefore it should be sa

[2019-09-26 01:49] protoEvangelion opened #676 "Update all contributors badge in readme to be 82"
There is a badge in the top of the readme.md file that shows how many contributors have contributed to node-gh. We need to update that to 81 because we are missing 1 person + yourself because you are contributing :tada:

[2019-09-26 02:28] myluco commented on #676
Who is the person?

[2019-09-26 05:56] protoEvangelion commented on #676
The last person I tried to add with the all contributors bot, it didn't update the Readme badge automatically. I opened an issue on their repo:  https://github.com/all-contributors/all-contributors-bot/issues/247

[2019-09-26 05:57] protoEvangelion commented on #676
The person was added to the Readme but the badge wasn't updated.

[2019-09-27 06:11] dantewang opened #678 "gh fails to close PR randomly"
**Describe the bug**
Sometimes gh fails to close PRs with the following output:

[code]

The PR in this log can be found at https://github.com/dantewang/liferay-portal/pull/1319

**To Reproduce**
Here are my steps:

1. Either run `gh pr 1319 --close` or `gh pr -s someone` on a `pr-xx` branch
2. See error

Not sure how to make it reproducible for others.
**Expected behavior**
gh closes the PR witho

[2019-09-27 16:55] #666 closed

[2019-09-27 18:13] protoEvangelion commented on #678
Thanks for reporting @dantewang

Are you on latest version? `2.0.7`?

Here is what I ran and I didn't have any issue:

![image](https://user-images.githubusercontent.com/20076677/65792001-b3e2e680-e117-11e9-9a2a-eeabce4fdca2.png)

Is there any other info you can provide?

[2019-09-27 18:15] protoEvangelion opened #679 "Request version number in GitHub bug issue template"
We want to gather more relevant data to help us debug new issues better. This work will involve updating the .github/ISSUE_TEMPLATE/bug_report.md file

[2019-09-29 10:27] ahonn commented on #676
This problem seems to be because this line ends with `(#contributors-)`

![image](https://user-images.githubusercontent.com/9718515/65830712-a2026e80-e2e4-11e9-940c-b0e829a8f3bb.png)

[all-contributors-bot is using all-contributors-cli v6.7.0](https://github.com/all-contributors/all-contributors-bot/blob/master/package.json#L27). In all-contributors-cli v6.7.0, we can find these codes:

[code]

Bu

[2019-09-30 01:45] protoEvangelion commented on #676
Thanks for the thorough and quick report @ahonn!

I'll keep an eye on your open PR.

@myluco in the time being however, if you send a PR to update that number, I will be happy to merge it.

[2019-09-30 03:23] protoEvangelion commented on #678
Actually I was able to repro using a branch name with `pr-2`.

Got a fix in the works.

[2019-09-30 17:45] drewbrokke commented on #678
+1 for this issue. It's failing pretty consistently for me.

Works on v1.17.5
Fails on v2.0.1.

[2019-10-02 01:54] #679 closed

[2019-10-02 02:58] Aaron-K-T-Berry commented on #602
I reckon i can pick this up 👍

[2019-10-02 03:07] protoEvangelion commented on #676
82 now

[2019-10-02 04:13] #651 closed

[2019-10-02 04:20] protoEvangelion commented on #602
All you @Aaron-K-T-Berry ! The two areas to start looking are:
https://github.com/node-gh/gh/blob/master/src/cmds/repo.ts#L146
https://github.com/node-gh/gh/blob/master/src/cmds/gists.ts#L80

Let me know if you could use direction in the meantime.

[2019-10-02 04:24] protoEvangelion commented on #679
:tada: This issue has been resolved in version 2.0.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-06cc81ce42b14f304d27)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 04:24] protoEvangelion commented on #651
:tada: This issue has been resolved in version 2.0.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-06cc81ce42b14f304d27)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 04:49] protoEvangelion commented on #678
:tada: This PR is included in version 2.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-8eb9a2b32c19cac00585)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 04:49] #678 closed

[2019-10-02 04:53] protoEvangelion commented on #667
:tada: This PR is included in version 2.0.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-8eb9a2b32c19cac00585)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 04:54] #667 closed

[2019-10-02 05:32] aaronkjones commented on #651
Thank you @protoEvangelion

[2019-10-02 06:08] protoEvangelion commented on #676
Closing because this will be handled automatically by https://github.com/all-contributors/all-contributors-bot/pull/250

[2019-10-02 06:08] #676 closed

[2019-10-02 06:44] protoEvangelion commented on #480
https://github.com/node-gh/gh/pulls

[2019-10-03 18:12] protoEvangelion opened #689 "Add tilde (~) to all packages in package.json so users get patch updates"
Currently most of our packages are listed as exact version so if a security fix or small bug fix comes out that is a patch, the user will not get that update unless we do a new release.

This work will involve removing any prefix from a version like `^` and adding prefix `~` to each package along with running `npm install`.

Here is how the `~` matching will work using https://semver.npmjs.com/:

[2019-10-03 18:13] gabrieluizramos commented on #689
I can work at this :)

[2019-10-03 18:14] protoEvangelion commented on #689
All you @gabrieluizramos let me know if you have questions in the meantime :)

[2019-10-03 18:19] gabrieluizramos commented on #689
@protoEvangelion Sure! Thank you, I've already opened the PR 😄

[2019-10-03 21:29] #689 closed

[2019-10-03 21:41] protoEvangelion commented on #689
:tada: This issue has been resolved in version 2.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-a438b815d8c676806358)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-03 22:26] protoEvangelion commented on #673
:tada: This PR is included in version 2.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-a438b815d8c676806358)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-03 22:26] #673 closed

[2019-10-03 23:45] protoEvangelion commented on #645
:tada: This PR is included in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-e3d5558b60e7b9cc6ae8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-03 23:45] #645 closed

[2019-10-04 06:58] zevaverbach opened #694 "When calling gh --new with no repo name and additional arguments, raise an error"
**Version number**
 1.17.5

**Describe/Reproduce the bug**
`gh --new --type private` creates a repo called `--type`

**Expected behavior**
`$ gh --new --type private`
`error: You must provide a repo name.`

[2019-10-04 06:59] zevaverbach opened #695 "repo --new should use the local repo's dirname by default"
**Describe the solution you'd like**
`repo --new --type private`, for example, when executed in a local repo called `repo`, would create a new private repo with the name `repo`.

Would render #694 moot.

Would you accept a PR implementing this?

[2019-10-04 16:18] protoEvangelion commented on #695
Hmm aren't we already doing that? https://github.com/node-gh/gh/blob/master/src/cmds/repo.ts#L541

[2019-10-07 07:37] zevaverbach commented on #695
I'm afraid not! Just upgraded to 2.1.0 and `gh repo --new --type private` and it created [this repo](https://github.com/zevaverbach/--type), which is called `--type` and is public.

[2019-10-07 16:27] protoEvangelion commented on #695
Does this work for you? `gh re --new foo --init --type private`

[2019-10-07 16:31] zevaverbach commented on #695
The `--init` isn't required, and yes, that does work, but it doesn't resolve this issue (naming the repo according to the root dir name).

[2019-10-07 16:40] protoEvangelion commented on #695
I see. So it sounds like we are forcing whatever comes after `--new` to be the repo name. What you want to do makes sense then.

Go for it and please let me know how I can help 👍

[2019-10-07 19:59] zevaverbach opened #696 "When creating a remote repo with --new, do "git remote add origin" automatically"
**Describe the solution you'd like**
A one-liner of (see #695) `gh --new` that creates a repository on GitHub, in this case named after the local repo's dirname, *and* adds the new repository as a remote called `origin`.

[2019-10-07 19:59] zevaverbach commented on #695
👍 Will do. Any thoughts on doing #696 simultaneously?

[2019-10-07 20:56] protoEvangelion commented on #696
This sounds like a sensible default 👍

[2019-10-07 20:56] protoEvangelion commented on #695
I'm fine with it being one PR unless you prefer to do it in 2 :)

[2019-10-10 11:01] josemvidal opened #697 "Ignores Organization and uses username instead"
**Version number**

[code]

**Describe the bug**
After upgrading, commands inside a repo that belongs to a Github org will try to access the same repo under my username. For example:

[code]

In the above, the repo belongs at `SCCapstone/AddMe`, but `gh` tries to use `josemvidal/AddMe` and fails, since that is the wrong repo.

BTW, `git pull` works in this repo.

The repo is private.

This used to

[2019-10-11 04:08] protoEvangelion commented on #697
Thanks for the thorough bug report @josemvidal ! Working on it now 😄

[2019-10-11 04:14] #697 closed

[2019-10-11 04:21] protoEvangelion commented on #697
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-c355218b3688968110d5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-11 04:39] protoEvangelion commented on #697
@all-contributors please add @josemvidal to list of contributors for reporting bug

[2019-10-11 20:03] protoEvangelion opened #700 "Add limit & no-limit flag"
By default all endpoints should return 30 results. We should create a way to specify a different limit. On certain cmds we allow an 'all' flag which could be part of the solution.

[2019-10-11 21:27] protoEvangelion commented on #451
:tada: This PR is included in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-c4d64a71ab67e26c44a9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-11 21:27] #451 closed

[2019-10-12 00:41] Aaron-K-T-Berry commented on #602
I've added the messages for gists so far but I'm not sure how they should be looking.

* This is the message for successfully deleting a gist.
[code]
* Choosing not to delete a gist
[code]
* I also updated the error message when attempting to delete a gist
[code]

Let me know if this is the right direction and then I can do something similar for the repos. 😀

[2019-10-12 00:45] protoEvangelion commented on #602
@Aaron-K-T-Berry I like it. What do you think about adding the check or x to the front of the line so it's clearer if they delete multiple gists at a time with `gh gi --delete 4252321 --delete 4252322
`?

[2019-10-12 01:00] Aaron-K-T-Berry commented on #602
Yeah I like it makes it a bit easier to scan through

[code]

Also for the error and not deleted message are a little clearer now at a glance.
[code]

[2019-10-12 02:22] protoEvangelion commented on #602
Very good! Feel free to add that to repo as well. It looks much better 🎉

[2019-10-14 14:28] josemvidal opened #703 "gh is --list --milestone 1 Returns error message"
**Version number**
[code]
**Describe the bug**
Using the `gh is --milestone` generates a Validation error:

[code]
but, other commands work ok:

[code]

So, it seems to be a problem with the `--milestone` only.

**To Reproduce**

[code]

**Expected behavior**

List of Issues associated with Milestone 1.

[2019-10-15 16:02] jpince opened #704 "Warnings when updating"
**Version number**
2.3.0 (might have been introduced in an earlier version, I haven't updated in a while)

**Describe the bug**
Warning messages when updating 1.17.5 → 2.3.0
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Start on version 1.17.5
1. Run Cmd 'sudo npm i gh'
1. See warnings at the end

**Expected behavior**
No warnings

[2019-10-15 16:18] protoEvangelion commented on #704
Thanks for reporting @jpince I will take a look 👍

[2019-10-15 16:19] protoEvangelion commented on #703
Thanks for reporting @josemvidal I will take a look 👍

[2019-10-15 17:02] jpince commented on #704
Thanks for keeping this up, Ryan. It's a great tool!

[2019-10-15 18:12] protoEvangelion commented on #695
Sorry about that...this is getting auto closed by some script I have 😑

[2019-10-16 04:26] #703 closed

[2019-10-16 04:33] protoEvangelion commented on #703
:tada: This issue has been resolved in version 2.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-512866d5721735c68802)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-16 16:18] protoEvangelion commented on #704
Those npm warnings are common :)

Node CLIs are usually designed to be installed in your npm global dir so they can be used anywhere. In GH's case, I'm actually surprised it still works for you because when we try to resolve modules we do a lookup on npm's global dir.

Closing now, but if anyone encounters this issue please reopen.

[2019-10-16 16:18] #704 closed

[2019-10-16 18:22] jpince commented on #704
got it, thanks!

[2019-10-24 11:23] inacionery opened #709 "Cannot use Forward"
**Version number**
Master

**To Reproduce**
Steps to reproduce the behavior:

gh pr 236 -fwd brianchandotcom
Forwarding pull request #236 to @brianchandotcom
Total 0 (delta 0), reused 0 (delta 0)
remote:
remote: Create a pull request for 'pr-236' on GitHub by visiting:
remote:      https://github.com/inacionery/liferay-portal/pull/new/pr-236
remote:
To github.com:inacionery/liferay-portal.git
 * [

[2019-10-24 22:02] protoEvangelion commented on #709
Thanks for reporting @inacionery I will take a look soon.

[2019-10-27 02:06] #602 closed

[2019-11-03 01:50] protoEvangelion commented on #709
all-contributors add @inacionery bug

[2019-11-03 02:01] #709 closed

[2019-11-03 02:03] protoEvangelion commented on #709
@all-contributors add @inacionery bug

[2019-11-03 02:13] protoEvangelion commented on #602
:tada: This issue has been resolved in version 2.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-17b71a33daae7c899cb4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-03 02:13] protoEvangelion commented on #709
:tada: This issue has been resolved in version 2.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-17b71a33daae7c899cb4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-04 03:02] protoEvangelion commented on #34
:tada: This PR is included in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-55ec9d4c100eb71f5528)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-04 03:02] #34 closed

[2019-11-04 03:14] protoEvangelion commented on #647
Fixed by: https://github.com/node-gh/gh/pull/716

[2019-11-04 03:14] #647 closed

[2019-11-04 03:17] protoEvangelion commented on #614
Need to break this work up into chunks as it will be a huge refactor.

[2019-11-04 03:17] #614 closed

[2019-11-04 03:18] protoEvangelion commented on #599
Not feasible in table views so closing.

[2019-11-04 03:18] #599 closed

[2019-11-04 03:18] protoEvangelion commented on #674
Closing for now.

[2019-11-04 03:18] #674 closed

[2019-11-04 03:19] protoEvangelion commented on #606
Added.

[2019-11-04 03:19] #606 closed

[2019-11-04 03:25] protoEvangelion commented on #438
Should list the full amount of issues now.

[2019-11-04 03:25] #438 closed

[2019-11-04 03:27] protoEvangelion commented on #383
Closing due to inactivity.

[2019-11-04 03:27] #383 closed

[2019-11-04 03:35] protoEvangelion commented on #357
Closing due to inactivity.

[2019-11-04 03:35] #357 closed

[2019-11-04 03:38] protoEvangelion commented on #303
We have improved docs significantly in GitHub readme recently. Going to close this out for now unless anyone has objections.

[2019-11-04 03:38] #303 closed

[2019-11-04 03:39] protoEvangelion commented on #273
Added to our eslint config.

[2019-11-04 03:39] #273 closed

[2019-11-04 03:40] protoEvangelion commented on #239
Going to close for now as this seems like a better use case for shell aliases.

[2019-11-04 03:40] #239 closed

[2019-11-04 08:49] dantewang opened #717 ""Permission denied" when trying to send pull request without providing title or description"
**Version number**
2.3.3

**Describe the bug**

My `gh` is installed using `sudo gh i -g gh` while I always use it without root permission. `gh` is installed in `/usr/lib/node_modules/gh`.

After updating to 2.3.3, when trying to send any pull request using gh without providing title (`-t`) or description (`-D`), the operation fails because it tries to access a file in "/usr/lib".

For example, if

[2019-11-04 11:35] inacionery commented on #709
@protoEvangelion thanks a lot! :D

[2019-11-04 16:42] protoEvangelion commented on #717
@dantewang we just released a feature where if you leave `--title` or `--description` empty it will open your default git editor where you can supply the message (_which is really nice for markdown_).

The reason it is failing is because we are saving a temp file and then opening that in your editor.

Do you have any ideas on ways to get around that without sudo?

[2019-11-04 22:03] andreldm commented on #717
Is there an option to disable this (i.e. keep description empty)?

[2019-11-04 22:05] protoEvangelion commented on #717
@andreldm there is no option currently to keep description empty. However, if you close your editor without adding text, it will keep the description empty.

[2019-11-05 03:00] dantewang commented on #717
@protoEvangelion I think the temp files should be put in either `/tmp` or some place under `~/`.

[2019-11-05 03:07] dantewang commented on #717
@protoEvangelion Also, it will be annoying if I have to close my text editor twice when sending a pull request. I would prefer:

- `gh pr -s username` --> Use last commit message as title, no description, which is the default behavior before 2.3.3;
- `gh pr -s username -t -D "blah blah"` --> Pop up the editor to ask for title if there's nothing after `-t`
- `gh pr -s username -D -t "blah blah"` --

[2019-11-05 17:10] protoEvangelion commented on #717
What system are you on? Can you check if you can read/write to `/tmp`? I don't have any issues placing it there, other than double checking that `/tmp` dir will work across OSs.

Regarding your suggestions, I think they are reasonable. The work was done in reference to a long standing issue: https://github.com/node-gh/gh/issues/34

What would you propose the the functionality for creating new issu

[2019-11-05 17:29] andreldm commented on #717
You can use `mktemp` which works on Linux (e.g. `/tmp/tmp.ku6Z6xMgf7)` and macOS (e.g. `/var/folders/pf/f5htxln96_18_52b7h72qrn40000gq/T/tmp.pyDaStfI`).

[2019-11-05 20:12] protoEvangelion opened #719 "Add setting option to not open editor when title or msg blank"
RE https://github.com/node-gh/gh/issues/717

Add config option like `open_editor: false` which defaults to true.

This will enable a user in CI mode to not have their editor opened when leaving a title or msg blank.

[2019-11-05 20:40] protoEvangelion commented on #717
Regarding the need to use sudo, I don't see a way around this unless you know of a directory that has write permissions for `groups` and `others`.

Both of the common places to store temp files on mac at least do not have write permissions across the board:

![image](https://user-images.githubusercontent.com/20076677/68244278-57ea6800-ffc9-11e9-8bdb-ba28e596d610.png)

Regarding the CI use case, it

[2019-11-05 20:43] protoEvangelion commented on #717
@dantewang can you create a temp file with `mktemp` without sudo?

[2019-11-05 21:47] protoEvangelion commented on #719
:tada: This PR is included in version 2.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-579d8bd99d3d551625be)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-05 21:47] #719 closed

[2019-11-05 21:48] protoEvangelion commented on #717
Just released `2.5.0` where you can add `"use_editor": false` to turn this feature off.

[2019-11-06 01:26] gamerson commented on #717
I'm running into this error as well.  How do you reinstall an older version?  Or workaround this issue?

[2019-11-06 01:29] gamerson opened #721 "submitting PR fails"
**Version number**
In which version does the bug appear?
2.5.0

**Describe the bug**
A clear and concise description of what the bug is.

I've got a local branch and I'm submitting a pull request to another user on the repo with this command:

[code]

Any ideas?

[2019-11-06 01:54] protoEvangelion commented on #717
@gamerson it depends on your context. If you are running in CI, then add the option in your `~/.gh.json` as mentioned above. Otherwise you can install an npm package by version number: `npm i -g gh@2.4.0`

[2019-11-06 02:10] gamerson commented on #717
Thanks Ryan, I'll downgrade until the mentioned error can be worked out.

On Tue, Nov 5, 2019 at 7:54 PM Ryan Garant <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2019-11-06 02:45] dantewang commented on #717
@protoEvangelion

I can create a temp dir using `mktemp` without `sudo`.

[code]

I believe every modern OS provides a place for application to store temp files without the need of privilege elevation (e.g. `sudo` in Linux/Mac or UAC dialog in Windows).

For Linux, `/tmp` is the place to go. This is defined in a Linux standard which can be trusted. See https://superuser.com/questions/332610/where-

[2019-11-06 02:59] protoEvangelion commented on #717
@dantewang @gamerson @andreldm could you please try v `2.5.1`?

This should be OS agnostic, and not cause permission issues anymore :)

[2019-11-06 03:05] protoEvangelion commented on #721
@gamerson can you try v 2.5.1? `npm i gh@2.5.1`

I think this could be related to https://github.com/node-gh/gh/issues/717

[2019-11-06 03:05] gamerson commented on #717
2.5.1 is all fixed for me!

[2019-11-06 03:06] gamerson commented on #721
Its fixed in 2.5.1.  Thanks for super fast turn-around.

[2019-11-06 03:06] #721 closed

[2019-11-06 03:17] protoEvangelion commented on #721
Thanks for the bug report! I can't catch em all 🏈

[2019-11-06 03:18] dantewang commented on #717
Cool, it works for me!

[2019-11-06 03:22] protoEvangelion commented on #717
@dantewang thanks for clarifying:

Regarding the "on demand" aspect, the `"use_editor": false` setting should resolve the use cases of being in the context of a CI or if you just want to feature off completely. However if you want to keep the setting on, currently this will behave like git interactive cmds.

Take `git rebase -i` for instance. If you select a couple of commits to **rename**, it wil

[2019-11-06 03:22] #717 closed

[2019-11-06 03:24] protoEvangelion commented on #700
Going to rethink pagination strategy on a larger scale.

[2019-11-06 03:24] #700 closed

[2019-11-06 03:36] protoEvangelion commented on #695
@zevaverbach I've been thinking about this some more and it seems to be fundamentally a parser issue.

Our parser (nopt) isn't "smart" in that if you pass two flags one right after the other `--foo --bar` the parsed options will be `{ foo: '--bar'}`.

I've been wanting to change option parsers for a while now, but you may to get around this by checking if the value in `new` is a known flag. If it

[2019-11-06 03:51] protoEvangelion commented on #695
Doing some further research, it looks like nopt resolved this exact issue in it's latest version v4:

![image](https://user-images.githubusercontent.com/20076677/68266989-969e1380-0005-11ea-86aa-9eee2b3f9ccc.png)

The version we are using:

![image](https://user-images.githubusercontent.com/20076677/68266977-8e45d880-0005-11ea-80aa-e62179fa106b.png)

Updating, could be the proper resolution to thi

[2019-11-06 16:44] protoEvangelion commented on #695
@zevaverbach did you have something in the works already?

[2019-11-06 17:29] protoEvangelion opened #723 "Build a UI around pagination for PRs"
For list based GitHub requests, we are automatically paginating across all pages.

This is fine for smaller datasets, but doesn't perform well when scaling to say 200 PRs.

A better UI could be to prompt the user with the option to see the next page with a simple yes or no prompt.

Additionally, we could add a "per_page": 30 setting in ~/.gh.json which would allow the user to control the size of e

[2019-11-08 14:51] zevaverbach commented on #695
Not yet, sorry!

On Wed, Nov 6, 2019 at 5:44 PM Ryan Garant <notifications@github.com> wrote:

[2019-11-08 17:04] protoEvangelion commented on #695
That's OK. I will update nopt to see if that fixes the issue 👍

[2019-11-10 00:44] #694 closed

[2019-11-10 00:51] protoEvangelion commented on #694
:tada: This issue has been resolved in version 2.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-9a3c80be688d0d29de04)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-10 00:53] protoEvangelion commented on #723
:tada: This issue has been resolved in version 2.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-9a3c80be688d0d29de04)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-10 00:53] #723 closed

[2019-11-10 00:55] protoEvangelion commented on #695
:tada: This issue has been resolved in version 2.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-9a3c80be688d0d29de04)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-10 00:55] #695 closed

[2019-11-10 05:56] protoEvangelion commented on #696
:tada: This PR is included in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-d6f7210767bbdf99aada)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-10 05:57] protoEvangelion commented on #696
@zevaverbach try `gh re --new --clone --init` or without `--init`

[2019-11-10 05:57] #696 closed

[2019-11-11 18:39] brandizzi opened #738 ""Permission denied" issue still happening with gh 2.7.0"
**Version number**
2.7.0

**Describe the bug**
I installed gh globally and when I try to send a pull request, it fails to open a temporary file. It is very similar to #717, I guess, but it happens on 2.7.0

**To Reproduce**
Steps to reproduce the behavior:

1. Install node gh globally with `sudo npm install -g gh`
2. Send a pulll request to someone with the command `gh pr -s <githubname>`

**Expec

[2019-11-11 20:09] protoEvangelion commented on #738
@brandizzi as a short term solution you could do:

[code]

[2019-11-11 20:11] protoEvangelion commented on #738
Long term I need to find a better way to fallback if the user's OS temp dir is not writable.

Maybe I could check if it is not writable and fallback to the last commit message for the title and just leave the description blank.

Any thoughts?

[2019-11-12 17:45] marcbizal opened #739 "First time user is unable to run any command"
**Version number**
2.7.0

**Describe the bug**
I am unable to use `gh` due to an error that occurs when running any command.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `npm i -g gh`
2. `gh`

**Expected behavior**
I should be able to use `gh` commands.

**Additional context**
I have not previously used `gh` on this machine, I have no existing configuration files. Looks like `gh`

[2019-11-12 17:46] protoEvangelion commented on #739
@marcbizal thanks for the bug report. I will take a look ASAP!

[2019-11-13 06:13] protoEvangelion commented on #739
:tada: This issue has been resolved in version 2.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-8a883ba5550a000138c5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 06:15] protoEvangelion commented on #739
Thanks for the clear report @marcbizal that fixed it!

[2019-11-13 06:16] protoEvangelion commented on #739
@all-contributors please add @marcbizal for awesome bug report

[2019-11-13 07:05] protoEvangelion commented on #480
@Nowaker can you give this a go or provide feedback if this meets your needs? https://github.com/node-gh/gh/pull/687

[2019-11-13 08:12] Nowaker commented on #480
@protoEvangelion I guess it would had met my need two years ago for sure. That need is long gone with the project I was working on. But still thanks, someone else will find a use for it, yay! 😀

[2019-11-13 16:31] protoEvangelion commented on #480
Ha sorry it took so long!

[2019-11-13 16:40] protoEvangelion commented on #480
:tada: This PR is included in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-63bb1c39906ab1c9d2ba)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 16:41] #480 closed

[2019-11-15 22:07] #739 closed

[2019-11-15 22:07] #738 closed

[2019-11-18 20:06] #675 closed

[2019-11-19 13:12] mdelapenya opened #743 "Support setting one or more reviewers and one or more labels for a new pull request"
**Is your feature request related to a problem? Please describe.**

Every time I send a PR I need to go to the UI to update reviewers and labels, when they are almost always basically the same.

**Describe the solution you'd like**

I'd expect a flag in the command line, or a config setup where it's possible to define default reviewers (not those who send the PR to, github reviewers) and default l

[2019-11-19 19:01] protoEvangelion commented on #743
Thanks for the request @mdelapenya. Are you saying the ideal solution would be both a command line flag + the ability to add default reviewers / labels in `~/gh.json`?

[2019-11-19 21:46] mdelapenya commented on #743
Yes, that would be fabulous

[2019-11-21 08:16] julien opened #745 "Unable to send pull requests (and peerDependencies errors)"
**Version number**
2.8.1

**Describe the bug**

After installing the package via

`npm i -g gh`

A warning is shown

[code]

When trying to run `gh pr -s SOME_GITHUB_USERNAME` an error is thrown

[code]

(Obviously SOME_GITHUB_USERNAME is a real username on GitHub, I just didn't want to include it in the bug report for privacy reasons.)

**To Reproduce**

Please see description above

**Expected b

[2019-11-21 14:58] rotty3000 opened #746 "errors while fetching PR from remote"
**Version number**
2.8.1

**Describe the bug**
[code]

**To Reproduce**
See above.

1. Run Cmd 'gh pr --remote <remote> <pr>'
2. See error
See above

**Expected behavior**
PR is fetched and no error results.

**Screenshots**
N/A

**Additional context**
Ubuntu Linux 19.10

[2019-11-21 22:58] amir-reconstruct commented on #541
Any updates  to this? It will be really handy to have this filter

[2019-11-22 16:59] protoEvangelion commented on #541
No update but good to know you find this valuable. I will move it higher up in my queue unless you feel so inclined to send a PR for it ;)

[2019-11-22 17:10] protoEvangelion commented on #745
@julien thanks for reporting this. We added a feature recently to open your editor when you omit `--title` and `--description`. We are using your OS's temp directory, but it looks like it would require you to use sudo.

Here are some workarounds until we can solve this better:

In your `~/.gh.json` file add `"open_editor": false`.

OR

[code]

OR

add the title and description

[code]

OR make you

[2019-11-22 17:11] protoEvangelion opened #747 "Add marked package"
https://github.com/node-gh/gh/issues/745

npm WARN marked-terminal@3.2.0 requires a peer of marked@^0.4.0 || ^0.5.0 || ^0.6.0 but none is installed. You must install peer dependencies yourself.

[2019-11-22 17:14] protoEvangelion commented on #746
Hmm interesting, I'm guessing we are not passing `remote: upstream` properly to the comment handler. So the fetch works correctly right? Just not the comment hook?

[2019-11-22 17:55] rotty3000 commented on #746
Correct!

[2019-11-23 11:19] julien commented on #745
Thanks for the quick reply @protoEvangelion.

I'll add  `"use_editor": false` to `~/.gh.json` but I still think this issue should be fixed and not closed, because I can actually write to my `/tmp` directory, and lots of programs I use on a daily basis do that as well without crashing (it's a standard feature after all).

As an example

[code]
Works fine on this machine (the file `foo.txt is` creat

[2019-11-23 17:28] protoEvangelion commented on #745
Thanks for the extra info @julien that helps a lot as I can't repro on my machine!

Could you replace https://github.com/node-gh/gh/blob/master/src/utils.ts#L78 with `writeFileSync(`${os.tmpdir()}-${filename}`, msg)` and let me know if that works?

If you don't want to build the project you can just find that line and replace it in your node_modules in the utils.js file:

![image](https://user-ima

[2019-11-23 19:15] julien commented on #745
Hey @protoEvangelion,

Thanks, I think your solution needs some modifications, but it's pretty easy to fix

[code]

Is going to return something like

[code]
Which is not what you want (notice the `-` being used as the path separator)

I usually use the `path` module to construct paths, because it can come in handy when dealing with this kind of thing or having to support different OS's

In my cas

[2019-11-23 21:07] protoEvangelion commented on #745
Awesome suggestions @julien 🎉 Thank you again for the extra details & ideas.

I will give that a try unless you would like to send a PR for it 😄

[2019-11-23 23:37] julien commented on #745
@protoEvangelion I actually have the pull request ready.

[One](https://github.com/node-gh/gh/blob/b85f5e850546257c3a0eecfd6c46149af0ce9e0f/__tests__/user.test.ts#L18) of the tests is failing right now. I saw [this](https://github.com/node-gh/gh/blob/b85f5e850546257c3a0eecfd6c46149af0ce9e0f/__tests__/user.test.ts#L21-L24) but I'm not really sure what to do about it. Is there any way to configure t

[2019-11-23 23:51] julien commented on #745
@protoEvangelion it's ok I figured what was going on.

[2019-11-25 15:50] protoEvangelion commented on #745
@all-contributors please add @julien for bug,code

[2019-11-25 15:51] protoEvangelion commented on #745
@all-contributors please add @julien for bug code

[2019-11-25 16:01] #745 closed

[2019-11-25 16:11] protoEvangelion commented on #745
:tada: This issue has been resolved in version 2.8.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-2cc9f29cf4caa2d9366f)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-13 17:25] BigBlueHat commented on #473
Looks like this is possible now via `--label`: https://github.com/node-gh/gh#repo-create-label

[2019-12-13 17:36] BigBlueHat commented on #473
It would be nice to see labels in the details, however. 😃

[2019-12-13 17:42] BigBlueHat commented on #473
Ignore me. Topics != labels... Sorry for the noise, but having these show in repository details would also be wonderful. Thanks!

[2019-12-20 23:42] brandizzi commented on #738
Hey Ryan! Just saw our answer today. I will try this out. Thank you!

Em sex., 15 de nov. de 2019 às 19:07, Ryan Garant <notifications@github.com>
escreveu:

--
Adam Victor Nazareth Brandizzi
http://adam.brandizzi.com.br/

[2019-12-23 18:32] protoEvangelion commented on #473
Thanks for chiming in @BigBlueHat so are you thinking

[2020-01-27 14:42] inacionery opened #751 "When a pr is sent without defining a title, it is always opening an editor."
**Version number**
v2.6.0

**Describe the bug**
When a pr is sent without defining a title, it is always opening an editor.

**To Reproduce**
Steps to reproduce the behavior:

1. gh pr -s user

**Expected behavior**
When a pr is sent without defining a title and the use_editor setting is false, it must send the pr without opening an editor.

[2020-01-27 14:46] inacionery commented on #751
PR sent https://github.com/node-gh/gh/pull/752

[2020-01-29 17:47] protoEvangelion commented on #751
:tada: This PR is included in version 2.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-c32061c19b2e0ea526be)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-29 17:47] #751 closed

[2020-01-31 00:25] allen-ziegenfus opened #755 "Validation error when doing gh pr -s <user>"
**Version number**
In which version does the bug appear? 2.8.4

**Describe the bug**
If i do `gh pr -s <user>` I get a Http Error Validation failed response and the pr is not submitted

**To Reproduce**
Steps to reproduce the behavior:

1. Run `gh pr -s <user>`
2. See error Http Error: Validation failed

**Expected behavior**
PR is submitted

**Additional context**
Downgrading to 2.8.3 fixes the i

[2020-02-01 01:24] protoEvangelion commented on #755
Hey what's up @allen-ziegenfus !!!

Does adding "use_editor": false to your `~/.gh.json` fix it?

Gh will try to open your editor if you don't supply a title or a description. I'm guessing it's failing in this process if it doesn't have proper permissions to create temp files.

[2020-02-03 18:25] gr2m opened #757 "Following CONTRIBUTING.md instructions for testing results in test errors"
Hello there 👋

I'm the maintainer of [`@octokit/rest`](https://github.com/octokit/rest.js/). I'm looking to test [the upcoming v17 release](https://github.com/octokit/rest.js/issues/1546) with a few dependents to catch errors before you do. I've tried setting up your respository using the instructions at https://github.com/node-gh/gh/blob/master/CONTRIBUTING.md, but I see a lot of errors

<details

[2020-02-04 01:41] allen-ziegenfus commented on #755
hey @protoEvangelion  nice to see you!!! :rocket:

it looks like that does fix it

strangely enough this did work without that pre 2.8.4!

[2020-02-07 17:16] protoEvangelion commented on #755
Awesome glad to hear it! Let me know if you have any more issues with that 👍

[2020-02-07 17:16] #755 closed

[2020-02-07 18:30] cspotcode opened #758 "Missing dependency on sanctuary-def, required by fluture-sanctuary-types"
**Version number**
In which version does the bug appear?

2.8.5

**Describe the bug**

`gh` depends on `fluture-sanctuary-types`, which declares a peerDependency on `sanctuary-def`.
However, `gh` does not declare a dependency on `sanctuary-def`, so the required dependency is missing.  This conveniently works only if the dependency is hoisted from `sanctuary`, but that doesn't always happen.  It fa

[2020-02-07 18:49] allen-ziegenfus commented on #755
it's working like a champ thanks man! :rocket:

[2020-02-10 05:03] Woollim opened #759 "`gh pr --submit` not working"
**Version number**
2.8.5

**Describe the bug**
`gh pr --submit` not working

**To Reproduce**
1. move to PR request branch
2. enter `gh pr --submit Woollim`
3. see error

**Expected behavior**
PR Submit Success

**Screenshots**
![이미지 2020  2  10  오후 1 42](https://user-images.githubusercontent.com/24635384/74122351-37582c80-4c0e-11ea-8a45-c56286c095ec.jpg)

**Additional context**
Add any other

[2020-02-11 01:28] #759 closed

[2020-02-11 01:41] Woollim commented on #759
This issue is solved
The reason of this issue is that i didn't specify a `Repository Owner`
So you should write in the following grammar.
[code]

thanks 😊

[2020-02-15 15:20] MattixNow opened #760 "Got an error [ERR_INVALID_ARG_TYPE]"
**Version number**
2.8.5

**Describe the bug**
when i type gh command i receive this
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Run Cmd 'gh'
2. See error

[2020-02-15 15:24] cokia opened #761 "deprecated library warning (Request@2.88.2)"
**Version number**
2.8.5
**Describe the bug**
deprecated library "request@2.88.2"
**To Reproduce**
Steps to reproduce the behavior:

1. Run Cmd 'npm install -g gh'
2. See warning `npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142`

**Expected behavior**
deprecated library is dangerous.

**Screenshots**
If applicable, add screenshots

[2020-02-18 20:24] Lisiadito commented on #761
Yes request is deprecated officially since the 11th of February this year.
It should be replaced by an alternative. They list some alternatives in this issue [right here](https://github.com/request/request/issues/3143)

[2020-03-03 14:23] vidavidorra opened #762 "`repo --list --type private` doesn't list private repos"
**Version number**
2.8.5

**Describe the bug**
A clear and concise description of what the bug is.
`gh repo --list --type private` doesn't list private repositories. It just lists the public repositories.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `gh repo --list --type private`
2. See error (these are my **public** repos).
[code]

**Expected behavior**
I'd expect it to show my pri

[2020-03-10 00:50] protoEvangelion commented on #757
Hey @gr2m good to see you around :) Sorry for the late reply!

I don't expect you to get back to me given that you already merged v17 ;)

That is really strange. It seems like Jest is swallowing the actual error some how even though it's set to `verbose`. It runs fine for me ATM as well as on multiple CI envs.

I'll close for now and keep an eye out for similar reports.

Would it be helpful if I w

[2020-03-10 00:50] #757 closed

[2020-03-10 01:02] protoEvangelion commented on #758
Thanks for the super thorough and clear bug report..that is rare!

I wasn't able to repro with yarn berry:

![image](https://user-images.githubusercontent.com/20076677/76269737-16e0b980-6230-11ea-9c2f-b39ca7532113.png)

Nonetheless, I'll deploy with the dependency & see if that resolves it :)

[2020-03-10 01:26] protoEvangelion commented on #759
Thanks for the suggestion @Woollim adding that to the readme now :)

[2020-03-10 01:32] protoEvangelion commented on #760
Are you using yarn 2 by any chance? I just saw this same error when upgrading, but am fixing now.

[2020-03-10 01:37] protoEvangelion commented on #761
Thanks for the heads up! I am planning on removing plugins in favor of hooks which will remove the need for this package completely so closing for now.

[2020-03-10 01:37] #761 closed

[2020-03-10 02:00] protoEvangelion commented on #758
:tada: This PR is included in version 2.8.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gh)
- [GitHub release](https://github.com/node-gh/gh/releases/tag/untagged-dea06fc1f7708308c859)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-10 02:00] protoEvangelion commented on #758
Please let me know if this is still an issue. Thanks again!

[2020-03-10 02:00] #758 closed

[2020-03-10 02:01] protoEvangelion commented on #758
@all-contributors please add @cspotcode for bug

[2020-03-10 02:02] protoEvangelion commented on #762
Confirmed, I am having the same issue. Looking into it now :)

[2020-03-10 02:10] protoEvangelion opened #765 "🎣 Deprecating Plugins in favor of Enhanced Hooks"
Currently we have two ways of sharing state with other applications:

1. Plugins
2. Hooks

Since hooks can technically share all available state, I don't see a need also allow for **complex** "plugin" integrations. Take the plugin `gh jira` for instance. The only benefit that package gains by being a plugin is to **access current state** of `gh`.

Like after opening a PR for instance **it will try

[2020-03-10 02:13] protoEvangelion commented on #765
@zenorocha @henvic @eduardolundgren  @jwu910 @drewbrokke since you have either been a part of creating the plugin architecture or have used plugins yourself, can you see any downsides to deprecating plugins?

[2020-03-10 02:55] gr2m commented on #757
Yeah I would recommend to do it. Please ping me if you run into any trouble :)

[2020-03-10 18:45] MattixNow commented on #760
i chose to stay with yarn 1.x.x

Le mar. 10 mars 2020 à 02:32, Ryan Garant <notifications@github.com> a
écrit :

[2020-03-10 19:43] protoEvangelion commented on #760
Does this seem to be resolved with the latest version of gh?
[code]

[2020-03-10 21:28] zenorocha commented on #765
I wonder if we should invest more time in this project after seeing this: https://cli.github.com

WDYT?

[2020-03-10 21:44] jwu910 commented on #765
@zenorocha i think thats a good question to ask. I haven't had time to download and test their cli out yet. But I did see someone on twitter mention that they used gh and didn't plan to switch over.

[2020-03-10 21:55] henvic commented on #765
I'm fine with whatever you decide.

I started contributing to the official GitHub CLI and has been to long since I last used or contributed to NodeGH.

[2020-03-10 21:58] henvic commented on #765
@jwu910, this is still more complete than the official CLI but eventually the situation will probably invert (for example, I've a half baked implementation of the gists command I intend to send a PR within two weeks or so).

[2020-03-10 22:05] drewbrokke commented on #765
@zenorocha I played around with Github's cli for a bit, and it's great, but it's a completely different UX from node-gh. Since I lean on node-gh heavily every day, it'll take a bit for me to get used to a different paradigm.

That being said, I don't have any personal affinity for the plugins feature, and I think in theory a well-documented hooks feature could accomplish a good portion of what plu

[2020-03-10 22:07] drewbrokke commented on #765
For now, the ergonomics of node-gh are better. I'm just not a fan of having to pass in `-R drewbrokke/liferay-portal` every time I want to see my own pull requests. I'm sure with time this will improve for the official CLI.

[2020-03-10 22:08] jwu910 commented on #765
@henvic Great point. I don't have a heavy use of plugins with node-gh either, but I am using this every day until github comes out with some feature that would make my processes even simpler than they already are

[2020-03-12 23:57] zenorocha commented on #765
I agree that node-gh still adds a lot of value that GitHub's CLI will still take time to provide.

Unfortunately, I also don't have time to maintain this project, so I trust you guys and I'm fine with whatever decision you make.

[2020-03-16 18:56] protoEvangelion commented on #765
Thanks for the discussion all! I'll leave this discussion open, to give others time to reply if desired.

[2020-03-19 20:00] bryceosterhaus opened #768 "Loses PR content(title, message) if unable to push to remote branch"
**Version number**
2.8.3

**Describe the bug**
Occasionally the remote branch I will be pushing to is not able to be updated unless I force push. But I don't know this until after I fill out the title and message of the pull-request. So typically I will craft a PR and finish the content, then while node-gh is trying to push it fails and loses my previous content.

**To Reproduce**
Steps to reprodu

[2020-03-23 16:42] protoEvangelion commented on #768
Thanks @bryceosterhaus so essentially you are saying we should push your commit before prompting you for PR input?

[2020-03-23 20:08] bryceosterhaus commented on #768
@protoEvangelion yeah I think pushing to remote before adding the PR content would make sense.

[2020-03-29 18:09] MattixNow commented on #760
Got an error on the 2.8.6 version
[code]

[2020-03-30 15:45] protoEvangelion commented on #760
What was the exact cmd you ran?

[2020-06-16 16:09] jwu910 opened #772 "Using deprecated authorization endpoint"
**Version number**
2.8.8

**Describe the bug**
Received a warning email that my recently authorized github app used a deprecated auth endpoint with useragent octokit.js/16.25.6.

Authorizations API endpoint will be removed November 13, 2020

<hr />

Is the gh team aware of the deprecation and are there plans to update the auth method?

[2020-07-23 15:00] drewbrokke opened #776 "131"

[2020-07-23 15:00] #776 closed

[2020-08-03 21:48] cspotcode opened #778 "Use `git credential fill` to securely store token"
**Is your feature request related to a problem? Please describe.**

I use a git access token stored in git's credential store for both git commands (pull, push) and for CLI scripts which talk to the github API.  My scripts can extract the creds via `git credential fill`, and it's stored in my OS's keychain instead of plain text.

**Describe the solution you'd like**

some sort of configuration for

[2020-11-15 00:56] #765 closed

[2020-11-15 01:11] protoEvangelion opened #783 "Deprecating Node GH"
It's been a fun ride but it's time to sunset this project in favor of the official GitHub CLI 🌆  I hope this tool has been as useful to you as it has to me in speeding up my daily dev workflow. And I hope you will find even more usefulness in GitHub's official tool which they are able to maintain & innovate to a greater degree 🚀

This has been an incredibly useful & productive tool. So, a huge tha

[2020-11-15 06:58] henvic commented on #783
Thank you guys! It was quite a ride!

Time to [Go](https://golang.org) 🤪

[Official CLI](https://github.com/cli/cli)

[2020-11-16 23:14] zenorocha commented on #783
Thank you so much @protoEvangelion for all your help! This was fun ;)

[2020-11-17 18:34] protoEvangelion commented on #783
Thanks for the opportunity @zenorocha it was a blast!!!

[2021-01-06 05:27] #746 closed

[2021-02-26 19:23] jpince commented on #783
@protoEvangelion a little late to the party, but thank you and everyone else for all the work you put into this. This tool has helped my productivity immensely.

[2021-06-04 13:29] Grcy3g8 opened #795 "Gh is iam GeorgeClapps influence owner of account"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-21 08:34] Domirando opened #796 "Error creating GitHub token"
**Version number**
2.3.0

**Screenshot the bug**
![image](https://user-images.githubusercontent.com/72442735/146897614-b0ba9969-5521-4b2d-9916-40caca2562e2.png)

[2022-08-10 04:51] ezappata commented on #439
https://github.com/node-gh/gh/issues/439#issue-151143849